[2016-01-07 19:56] diegoddox opened #1 "Extra blank space on top of the page."
because the width and height is not set to 0px in some browser can appear an extra blank space on top of the page.

Need to set width and height to 0px in .redux-toastr

[2016-01-12 17:24] ingro opened #2 "Select different animations"
Hello, I'm using your library and I find it very useful.
Just out of curiosity, is there a way to specify different animations for the toasts? I see that there are many in the css file but I don't know how to use them!

Thank you.

[2016-01-15 14:46] diegoddox commented on #2
Thanks and sorry for the late response.
No, is not possible yet but if you want this to be implemented you can create a new issue with a "feature" label on

[2016-01-15 14:47] #2 closed, assigned to nobody

[2016-01-26 11:26] #1 closed, assigned to nobody

[2016-02-15 21:49] jonnolen opened #3 "readme needs updated. internal styles have a dependency on bootstrap css."
Without bootstrap css confirm box displays on load, animates out on ok, and then immediately re-displays, just need to add update to readme to reflect that dependency (or define hide as a style in 1.0.2 css.)

[2016-02-16 07:40] diegoddox commented on #3
Thank you very much, can you please tell me which browser you are using.

[2016-02-16 12:11] jonnolen commented on #3
Chrome

On Tuesday, February 16, 2016, Diego Oliveira notifications@github.com
wrote:

[2016-02-16 12:13] diegoddox commented on #3
Thanks I will take a look as soon as possible.

[2016-02-16 21:07] diegoddox commented on #3
Done, now you don't need to include bootstrap.

[2016-02-16 21:08] #3 closed, assigned to nobody

[2016-02-19 13:30] manubamba opened #4 "Issues with server side rendering"
`error given was: ReferenceError: navigator is not defined`

Probably because navigator and window are not available when rendering on the server-side.

[2016-02-19 15:58] diegoddox commented on #4
Please update to the new version,
I will close this issue but feel free to re-open in case you needed.

[2016-02-19 15:59] #4 closed, assigned to nobody

[2016-02-22 07:40] manubamba commented on #4
Great help! Thanks :)

[2016-02-22 14:58] RaitoBezarius opened #5 "ToastrBox are not removed after timeout expiration"
For a strange reason, ToastrBoxes are not removed after they expire (`setTimeout` triggers the remove handler).

By debugging the code, I found out that this line: https://github.com/diegoddox/react-redux-toastr/blob/master/src/ToastrBox.js#L98 never calls the `onAnimationComplite` for an unknown reason.

Fyi, I'm using React 0.14 and React-Redux-Toastr latest version, it seems to be a regression,

[2016-02-22 18:44] diegoddox commented on #5
Can you please provide some information about the Browser you are using (name/version)?

A bit strange as I don't have changed anything on this area, in the new version I just rename the repo and remove the "window" object because it was causing issues on the server-side rendering.

About your questions.
1. `animationend`
2. I don't what do you mean by: `Do we add the event listener too late`.
3.

[2016-02-22 18:47] RaitoBezarius commented on #5
I already provided information about the Browser in an edit.

---
- For 1: Alright.
- For 2: I mean, is the transition already finished when we add the event listener? `animationend` can be emitted before we listen to it, or not?
- For 3: Can it throw?
- For 4: I see, thanks!

Please, look the edits, the issue was finally related to the CSS, should I rename the issue or let it for users which may

[2016-02-22 18:52] jaebong-human opened #6 "Demo is not working for the bottom position."
I cloned this project and ran 'npm start' like below.

git clone https://github.com/diegoddox/react-redux-toastr.git
cd react-redux-toastr/demo/
npm install
npm start

It was working well for the default position but not for the bottom position.
![top-right](https://cloud.githubusercontent.com/assets/725287/13228679/96b074c0-d9e0-11e5-8997-675c225e230b.png)

All panels were under the screen.
while

[2016-02-22 19:43] diegoddox commented on #5
2: no
3: no

You don't need to rename the issue.
If you wanna bundle the style on your project you just have to `import` the `react-redux-toastr.css` file from the `lib/css/` folder.

[code]

and on your webpack.config.js handle the css file
https://github.com/webpack/css-loader
you may take a look at this issue: https://github.com/webpack/css-loader/issues/2

[2016-02-22 19:45] #5 closed, assigned to nobody

[2016-02-22 19:46] diegoddox commented on #6
Thanks for reporting! no you don't need a  bootstrap.
fixed in the same version 2.0.1.

[2016-02-22 19:46] #6 closed, assigned to nobody

[2016-02-23 00:56] woonmayer opened #7 "How can I set timeout for message ?"
Hi, It prevents to set timeout for message.

Is there any chance to set it like other types?

Thank you.

[2016-02-23 01:39] jaebong-human commented on #7
+1

[2016-02-23 16:51] diegoddox commented on #7
No, there is no timeout for `message`, but on the next version you will be able to add a `timeout` to the `message` `options`.

[2016-02-23 17:01] jaebong-human commented on #7
Is there any reason not to set timeout for `message`?

[code]

[2016-02-23 17:58] diegoddox commented on #7
As I had written in the README the `message` is only to be used in case of a large amount of information! I don't see this method as a normal toastr

I'm not planning to change the default behavior as I mention above it is possible to add a `timeout` on the `message` `options`

[2016-02-23 18:03] diegoddox commented on #7
EDIT:
When I created the `message` method my view was that if I display a large amount of info to the user he needs to get a chance to read everything without worry if the box will disappear.

[2016-02-24 22:04] #7 closed, assigned to nobody

[2016-02-24 22:05] diegoddox opened #9 "Icon is not display!"
There is a issue on the min.css, the icon is not display.

[2016-02-27 15:35] diegoddox commented on #9
fixed.

[2016-02-27 15:35] #9 closed, assigned to nobody

[2016-03-03 11:55] RaitoBezarius opened #11 "ToastrConfirm does not close if you show an error upon ok or cancel"
Hi!

It seems like that something is preventing the ToastrConfirm from closing when you dispatch a toastr in the ok or cancel handler.

It causes something like:

ok clicked → setTransition(false) (hiding = true) → add a new toastr → componentDidUpdate on ToastrConfirm (hiding = false) → once animation is complete, hiding is false so we don't remove the overlay.

At least, this is what I found by

[2016-03-03 16:33] ashelkov commented on #11
+1! have the same problem

[2016-03-03 19:46] diegoddox commented on #11
I was not able to reproduce.

1. can you please tell me if everything else works find?
2. This only happen when you fire a `toastr` in a `ToastrConfirm` callback?
3. what (browser and version) are you using?

[2016-03-03 20:05] diegoddox commented on #11
I have update the `demo` app to fire a `toastr` on a `ToastrConfirm` callback (ok/cancel).
can you please clone the repo and run the `demo` app and tell me what's happen?

`git clone https://github.com/diegoddox/react-redux-toastr.git`
`cd react-redux-toastr/demo`
`npm install`
`npm start`

[2016-03-04 07:57] vladSumy commented on #11
Problem-1
1. We call toastr.konfirm

## 2. In the event of approx (toaster.confirm) perform PROMIS. Depending on the result, we perform PROMIS (toastr.success) and if earlier PROMIS is executed, the screen is locked on Confirming

[code]

---

Problem-2
try to do manually dispatch events (actions.hideConfirm), but recalling the toastr.сonfirm lock screen disappears, but remains bunkeOutUp upon rec

[2016-03-05 15:05] diegoddox commented on #11
@vladSumy
1. Sorry but I not really understand what you are trying to say.
2. why are you calling the `hideConfirm` on the `onOk` callback?

can you please provide some screenshots?

[2016-03-05 15:05] diegoddox commented on #11
@RaitoBezarius have you try the demo?

[2016-03-05 16:24] diegoddox commented on #11
After a while I was able to reproduce the issue and for some reason the new `toastr` animation was preventing the func `_removeConfirm` of running.

This is fixed (I HOPE :D) the ok and cancel callback will be fire when the `confirm` animation is done.

@RaitoBezarius, @ashelkov and @vladSumy can you please update and if you still get the same error please re-open this issue.

[2016-03-06 14:49] RaitoBezarius commented on #11
Awesome, thanks @diegoddox !

[2016-03-06 14:53] diegoddox commented on #11
@RaitoBezarius you welcome, please test and see if works

[2016-03-07 08:58] ashelkov commented on #11
Thank you! It's fixed now!

[2016-03-07 10:51] diegoddox commented on #11
@ashelkov you are welcome! thanks for your feedback!

[2016-03-10 11:01] #11 closed, assigned to nobody

[2016-03-28 12:16] NullDivision opened #13 "Not implementing standard toast messages"
I tried using it but it looks like a lot of the styles are not properly implemented and I can't actually remove the close button. The documentation is scarce and there are very few options to be had.

[2016-03-28 17:44] diegoddox commented on #13
To be honest I don't have updated the demo page for a while.
Can you please give me more info about the close button issue?
about the docs as you know this is a open-source project so feel free to change anything and make a pull-request.

[2016-03-30 03:07] khanghoang commented on #13
@diegoddox I want to help your work, let me know if you need any help from me.

[2016-03-30 22:20] ro-savage opened #14 "IE10 Support"
First up, awesome toast, we are loving it.

I am using it on our site that requires IE10 support. Unfortunately `Map` isn't support by IE10 and `Map` [can't be polyfilled / shimmed](https://github.com/eriwen/es6-map-shim).

I have forked the repo and changed `Map` to a regular `Object`.

Feel free to accept PR if you'd like to support IE10, or suggest another way of handling IE10 :)

[2016-03-31 19:16] diegoddox commented on #14
@ro-savage
Thanks for your feedback happy to know that you like it and thanks for your contribution.

[2016-03-31 19:16] #14 closed, assigned to nobody

[2016-03-31 19:31] diegoddox commented on #13
@khanghoang thanks a lot!

[2016-03-31 19:34] diegoddox commented on #13
@NullDivision I will close the issue but feel free to re-open when you're able to provide more info about it.

[2016-03-31 19:34] #13 closed, assigned to nobody

[2016-04-03 11:38] ro-savage opened #17 "Missing lib folder - NPM v2.2.2 & v3.0.2 Broken"
Version v2.2.2 & v3.0.2 are missing the lib folder. Maybe added to NPM without doing a build first?

[2016-04-03 12:28] diegoddox commented on #17
@ro-savage
Strange as I do have build! and the lib folder as well, do you have any idea why this is happen?

[2016-04-03 12:43] diegoddox commented on #17
@ro-savage I was smart enough to remove the lib option from the package.json, but now is fixed.

[2016-04-03 12:43] #17 closed, assigned to nobody

[2016-04-03 12:52] diegoddox commented on #17
@ro-savage thanks a lot, I have deprecated these version as well

[2016-04-04 02:55] ro-savage commented on #17
No worries. Thank for fixing it up so quickly :)

[2016-04-07 15:51] pepesenaris opened #18 "Cannot read property 'confirm' of undefined"
I have the following in App.js

[code]

I can not even start the app because I keep getting a "Cannot read property 'confirm' of undefined" error from the ReduxToastr component

[2016-04-07 16:35] diegoddox commented on #18
@pepesenaris have you add the `toastr` `reducer`?

[code]

[2016-04-07 17:31] pepesenaris commented on #18
@diegoddox Yes, I did, which is why I do not understand what is happening..

I'll put the relevant snippets of code related to toastr that I'm using.

[code]

In a react component:

[code]

When I remove the ReduxToastr component from App, the error goes away of course, yet the toastr reducer is properly mounted... so that's why it's giving me headaches
![Screenshot from devtools reducers](https:/

[2016-04-07 18:18] diegoddox commented on #18
@pepesenaris strange! I have just publish a new version where it will not crash the app if there is no `toastr` `reducer`, can u please upgrade and console.log the `toastr` object?

[2016-04-07 18:20] pepesenaris commented on #18
Ok, @diegoddox , I'll give it a try and let you know. Thanks

[2016-04-07 18:50] pepesenaris commented on #18
Now, the app does not crash.
The toastr/ADD action is fired and the toastrs array updated accordingly but the message never shows up. Really odd

[2016-04-07 18:51] diegoddox commented on #18
@pepesenaris what are you using as a dev-server?

[2016-04-07 18:53] pepesenaris commented on #18
@diegoddox I'm using webpack, configured according to the setup given by [nwb](https://github.com/insin/nwb)

[2016-04-07 18:54] diegoddox commented on #18
@pepesenaris I will assume that you have include the css style?

[2016-04-07 18:55] pepesenaris commented on #18
I have it on the head tag, in the index.html... it's loading properly

[2016-04-07 18:57] diegoddox commented on #18
@pepesenaris very strange! my last opinion will be that you remove the `node_modules` reinstall and clean your browser cache!

[2016-04-07 18:59] pepesenaris commented on #18
I'll check that. endeed very rare.
I'm looking into the inspector and the redux-toastr div has height 0.... is that normal?

[2016-04-07 19:00] diegoddox commented on #18
That should not be the problem.

[2016-04-07 19:02] diegoddox commented on #18
@pepesenaris  what is the css version you are using? you will need to upgrade as well

[2016-04-07 19:02] pepesenaris commented on #18
version 3.0.0 of the css

[2016-04-07 19:06] diegoddox commented on #18
@pepesenaris you should not have `height` `0` in v3.0.0
http://diegoddox.github.io/react-redux-toastr/3.0.0/react-redux-toastr.css

[2016-04-07 19:22] pepesenaris commented on #18
I'm out of ideas... Maybe it has something to do with using immutablejs.

[2016-04-07 19:23] diegoddox commented on #18
@pepesenaris  I don't think that should be any problem!

[2016-04-07 19:26] diegoddox commented on #18
@pepesenaris can you provide a copy of the project but with all your private code removed?

[2016-04-07 19:34] pepesenaris commented on #18
@diegoddox not right now :-(. I'll give it a try later, Thanks anyway

[2016-04-07 19:35] diegoddox commented on #18
@pepesenaris np

[2016-04-09 01:28] tylercollier opened #19 "Why did you remove the `src` dir?"
Your instructions in the README say to do this:

[code]

But I prefer:

[code]

Now I can't do that because the `src` directory is missing. If I try to use the `lib/react-redux-toastr.css`, it complains that the `../fonts/redux-toastr.eot` is missing, etc, so it looks like the `fonts` directory was removed too.

[2016-04-10 18:38] diegoddox commented on #19
well there is some code that I don't think is necessary to include in `npm` but I will separate and publish with the `src` folder.

[2016-04-10 19:22] tylercollier commented on #19
Can you include instructions in the README for how to use the style files without pulling from a CDN? Don't include the entire `src` folder if it's not needed / you don't want to, but we need at least need the dependencies, such as the `.eot` font files.

[2016-04-10 19:30] diegoddox commented on #19
@tylercollier I will fix this tomorrow and come back to you with more info.

[2016-04-10 20:30] tylercollier commented on #19
Take your time with it. I am using 3.0.4 for now.

[2016-04-11 19:18] diegoddox commented on #19
@tylercollier upgrade to 3.0.8 `import 'react-redux-toastr/src/less/index.less'` and you're read to rock!

[2016-04-11 19:18] #19 closed, assigned to nobody

[2016-04-11 20:14] tylercollier commented on #19
I did and it works, thanks!

[2016-04-12 02:17] nicomfe commented on #18
Im having the exact same problem.
Using { combineReducers } from 'redux-immutablejs' as well

I can see the action being fired on the console:
 action @ 14:14:41.705 @ReduxToastr/toastr/ADD

Store is updated accordingly but message doesnt show up :(

EDIT: I found the problem, it is actually related with immutable
In the following lines, in the file ReduxToastr.js

[code]

At that point state is g

[2016-04-12 03:08] nicomfe commented on #18
I created a pull request #20 with a not that fancy solution, but solves the problem of immutable states

[2016-04-15 15:01] diegoddox commented on #18
@nicomfe thanks and sorry for the late reply.

[2016-04-15 15:01] #18 closed, assigned to nobody

[2016-04-15 17:59] devdlabs opened #21 "Will it work with react-15?"

[2016-04-15 18:33] diegoddox commented on #21
@devdlabs Yes It should works fine!

[2016-04-15 18:33] #21 closed, assigned to nobody

[2016-04-18 10:08] RaitoBezarius opened #22 "React 15.x compatibility?"
Hi there,

Is it planned for this package to get a React 15.x compatibility?
Could I lend a help?

Thanks in advance!

[2016-04-18 10:49] diegoddox commented on #22
@RaitoBezarius Please feel free!

[2016-04-21 07:38] #22 closed, assigned to nobody

[2016-05-03 21:32] kbrownlees opened #26 "Include the 'fonts' directory in lib"
Currently the css files that end up in the lib folder have:

[code]

but the fonts directory does not exist so it fails to import.

[2016-05-04 06:12] diegoddox commented on #26
what is the version you're using?

[2016-05-04 07:52] kbrownlees commented on #26
3.1.2

[2016-05-04 07:53] diegoddox commented on #26
are you including via `import`?

[2016-05-04 07:55] diegoddox commented on #26
anyway I do have update the css files just remove the cache and reload your app

[2016-05-04 07:56] kbrownlees commented on #26
[code]

The fonts folder only exists the _src_ directory, not the _lib_ directory.

[2016-05-04 07:58] diegoddox commented on #26
Yes but if you're including the `react-redux-toastr/src/index.less` the src file is pointing to the github-page

[2016-05-04 08:01] kbrownlees commented on #26
I want to include the css file, but they point at ../fonts which doesn't exist (in lib)..

[2016-05-04 08:01] diegoddox commented on #26
OK I see the problem, you are including the style from the `lib` folder and not from the `src`.
This is because the `lib` folder contains an old version but I will publish a new with this fixed.

[2016-05-04 08:04] diegoddox commented on #26
can you please update to `3.1.3` and tell me if is working?

[2016-05-04 08:08] kbrownlees commented on #26
I am not sure hard coding the fonts to be fetched over http from github is really an improvement? The previous system worked perfectly for my use case (stand alone bundle) except the fonts folder didn't make it into lib. I will just stick with 3.1.2 and my hack to move the fonts folder :)

[2016-05-04 08:08] #26 closed, assigned to nobody

[2016-05-04 08:39] diegoddox commented on #26
Could you give some reasons for why not loading fonts via http?

[2016-05-04 19:47] kbrownlees commented on #26
If you try and load http content from an https site the browser will show an error page.

[2016-05-14 12:18] foffer opened #27 "Content served over http"
Serving your site from a https source produces the following error:
`Mixed Content: The page at 'https://xx.xx.com/login' was loaded over HTTPS, but requested an insecure font 'http://diegoddox.github.io/react-redux-toastr/fonts/redux-toastr.woff'. This request has been blocked; the content must be served over HTTPS.`

[2016-05-15 10:58] diegoddox commented on #27
Can u update to the lasted.

[2016-05-15 11:03] diegoddox commented on #26
The fonts are on the `lib` folder on the lasted version.

[2016-05-21 16:54] diegoddox commented on #27
@foffer
I will close the issue as I have put the icons in the `lib` folder and this should fix the problem, but feel free to re-open in case you got stuck.

[2016-05-21 16:56] foffer commented on #27
@diegoddox sorry for my lack in response. The update fixed the issue!

[2016-05-21 16:57] diegoddox commented on #27
@foffer np, you're welcome.

[2016-06-09 19:01] coolblabla opened #28 "[WEIRD] when enable redux-devtools"
Hi, awesome work.

First ,I triggered `toastr.error('## Info', "asdasd")` at router /a and wait for message dismiss, then I switched to router /b, the message appeared again! just like `clean action` revoked. I rechecked my code multiple times, every integration step goes fine. Looked into toastr sourcecode, nothing help. At las t, I opened Edge, it runs fine! So finally, I got here :mask:

It's r

[2016-06-09 19:07] diegoddox commented on #28
Hi @coolblabla  thanks,

1: which browser you're getting this issue?
2: what version are you using?
3: where have you place the `<ReduxToastr />` component?

[2016-06-09 19:13] coolblabla commented on #28
Thanks for the rapid reply!
Im using chrome  51.0.2704.84 m (64-bit)    everything goes fine when disable redux-devtools.

[code]

[2016-06-09 19:16] coolblabla commented on #28
oh, another issue after I `npm installed react-redux-toastr`

"webpack": "^1.12.14",

[code]

[2016-06-09 19:21] diegoddox commented on #28
Looks fine, are you using the lasted version of the dev-tools?
the warning could be that in your code you are requiring a module/component with camel-case and another place the same module/component with a small-case.

ex:

[code]

[2016-06-09 19:22] diegoddox commented on #28
try remove the node_modules and reinstall everything again!

[2016-06-09 19:28] coolblabla commented on #28
@diegoddox
Thanks.  `Redux DevTools 2.0.0.4`
I've faced this module warning issue before when installed `lodash`, an other module referred a lower version of lodash subset, I think it maybe deferent version refering issue during webpack compiling.

[2016-06-09 19:29] diegoddox commented on #28
no problem, have u try delete the node_modules folder and reinstall?

[2016-06-09 19:46] coolblabla commented on #28
yes, I've done that multiple times :mask:  warning gone after `uninstall lodash`

[2016-06-09 20:10] diegoddox commented on #28
what about the `dev-tools/toastr` issue?

[2016-06-11 06:18] coolblabla commented on #28
Still no solution except disable redux-devtools. Any comments?

[2016-06-11 16:51] diegoddox commented on #28
@coolblabla no, try open an issue on the dev-tools repo and see what they say.

[2016-06-16 13:12] rachitbhasin opened #29 "Align toastr to center"
Hi,

I have been trying to center align the toastr but have not succeeded in doing so.
I went through the documentation and found that the toastr can only be aligned to the four corners of the page.

Is there a way to center align the toastr?

Thanks for the awesome react-redux-toastr

[2016-06-17 07:20] diegoddox commented on #29
@rachitbhasin no, this is not possible at the moment! but I will take note and implement later on.

[2016-06-17 12:03] rachitbhasin commented on #29
Thanks for taking cognizance of this. Looking forward to this feature. In the meantime I will go through the source code implement this and share with you.

[2016-06-17 12:04] diegoddox commented on #29
@rachitbhasin that will be nice! just make a pull-request if you wish.

[2016-06-28 15:31] whawker opened #30 "Invoke component option directly, rather than as a class reference"
I'm having issues with the `component` option, as it does not allow me to pass dynamic props. This is due to the expectation of a class reference being passed (i.e. `component: React.Component`), rather than a JSX expression.

In [ToastrBox.js](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ToastrBox.js#L125) we have

[code]

Meaning the options component is rendered with no prope

[2016-06-29 08:37] diegoddox commented on #30
That looks good, feel free to implement this improvement!

[2016-06-29 08:39] diegoddox commented on #28
@coolblabla any news on this issue?

[2016-06-30 10:16] #30 closed, assigned to nobody

[2016-06-30 10:34] whawker opened #33 "Compiled CSS file missing in v3.2.0"
Hi,

In the latest version, 3.2.0, the compiled CSS file `lib/css/react-redux-toastr.min.css` is missing? Was this intentional?

Cheers

[2016-06-30 13:26] JamesPortelli opened #34 "Programmaticly close a specific toastr"
Hi Deigo,

It would be really awesome if you could provide some way for us to programmitcally close a specific toastr.

Currently I'm using the toastr to display a progress bar for an action I'm performing in my application, which I achieved by passing in a custom component in the toastr options. I want to be able to hide this toastr once the progress has reached 100% and then display a success to

[2016-06-30 13:32] JamesPortelli opened #35 "More control over the Toasts Options"
Hi Diego,

Would it be possible for you to provide a finer control on how the closing of toastrs works with user interaction.

Be able to:

1) Toggle on/off the hiding of the toastr when you click it
2) Toggle on/off  the hiding of the toastr when you hover in and out of it
3) Provide an option to show a 'x' to close the toastr. (Ive seen this in you demo but cant get it to work for my application

[2016-06-30 17:55] diegoddox commented on #33
It was an accident! please update to the new version.

[2016-06-30 17:55] #33 closed, assigned to nobody

[2016-06-30 17:58] #29 closed, assigned to nobody

[2016-06-30 18:17] diegoddox commented on #35
Hi @JamesPortelli,

1 and 2) when you `click` or `hover` the `toastr`, it should close.
so why you wanna a `toggle`?

3) true there is an `x` in the demo site but I've remove, I feel that was unnecessary.
4) not sure but possible!
5) That is possible!

[2016-06-30 18:18] diegoddox commented on #34
Hi @JamesPortelli,
I will add as a feature!

[2016-06-30 18:45] JamesPortelli commented on #35
Hi Diego,

1 and 2) I was thinking of the ability to toggle off such behaviour and instead handle the closing of the toastr using the 'x' button which I mentioned in 3.

Looking forward to seeing such features in an already great library. Do you know when these would be available?

Thanks
James

[2016-07-01 08:13] whawker commented on #33
@diegoddox sorry I should have been clearer, the `lib/fonts/` directory is also missing (and is missing in v3.3.0 too)

[2016-07-01 08:18] diegoddox commented on #33
@whawker Thanks, my bad :D I've fix (hope)

[2016-07-01 08:21] whawker commented on #33
@diegoddox Looks good to me! Thanks!

[2016-07-01 08:33] diegoddox commented on #35
@JamesPortelli
I don't think I will implement (1, 2) as this will break the current behavior but I will add the `className` option to the `toastr` main div.

[2016-07-01 09:24] diegoddox commented on #34
Now you can call the `this.props.remove()` from your component

[2016-07-01 09:24] #34 closed, assigned to nobody

[2016-07-01 09:52] JamesPortelli commented on #35
Hi @diegoddox

Thanks for getting back to me, wanted to explain my idea in more detail just incase we didnt understand each other since being able to choose how the hiding of toastrs works in my app is quite important.

I was thinking along these lines:

By default the toastrs would work as they currently do, having them hidden after a specified time if you specify a timeOut which is greater than

[2016-07-04 08:17] JamesPortelli commented on #35
Hi @diegoddox,

Just to let you know while using your library I noticed you left a console.log in the constructor of the ToastrBox component.

Also i was wondering whether you had a chance to look into my comment above? :)

Thanks
James

[2016-07-04 08:35] diegoddox commented on #35
@JamesPortelli Thanks, I do have looked your comments, I'm just trying to avoid coding on saturday and sunday :D

I'm a bit occupied but I will look into to this request.

[2016-07-04 08:49] JamesPortelli commented on #35
@diegoddox, Good rule to stand by! :+1:

Thanks for looking my request! :smile:

[2016-07-05 05:18] ro-savage opened #37 "Confirm box broken - Won't dismiss"
The confirm box is no longer working. Confirmed on [demo page](http://diegoddox.github.io/react-redux-toastr/) and installing repo locally.

Not sure exactly what going on.

It appears that the utils function `onCSSTransitionEnd` which fires `ReactTransitionEvents.addEndEventListener(node, runOnce);` is being attached but never fired.

It seems to be broken in older versions (3.1.4) as well, so it

[2016-07-05 05:53] ro-savage commented on #37
Well that was a long exercise of frustration.

Bug appears to be in chrome 54.0.2787.0 canary (64-bit).
`Transition` isn't working for `transform: scale()` on the `::before` pseudo element.

Up to you if you want to leave issue open until Chrome fixed or just close it right away.

[2016-07-05 07:02] diegoddox commented on #37
Hi @ro-savage
Thanks I will leave open!

[2016-07-12 16:18] diegoddox commented on #28
I will close but feel free to open in case you need.

[2016-07-12 16:18] #28 closed, assigned to nobody

[2016-07-14 07:43] JamesPortelli commented on #35
Hey @diegoddox  any updates on the above? :)

[2016-07-14 12:02] camperov commented on #35
Would also be cool to be able to change confirm show/hide animation.

[2016-07-14 17:33] diegoddox commented on #35
Hi @JamesPortelli
I'm om vacation but I will implement ASAP and @camperov I will add this options as well.

[2016-07-18 07:38] zalmoxisus commented on #28
Related to https://github.com/gaearon/redux-devtools/issues/304. `store.replaceReducer` causes Redux Detools to replay actions which is as expected, due to the fact that it is intended to be used for hot-reloading.

[2016-07-21 19:45] TheTFo opened #40 "How to create toaster notification with X icon to close"
Hello,

Could you provide guidance on how you created the toaster with the X to close, like on the example page?  Is this available out of the box?

Thanks!

[2016-07-21 20:33] diegoddox commented on #40
@TheTFo Sorry but the demo page is not updated, in order to close a `toastr` you need to click on the entire component so for that reason I've decide to remove the X button.

[2016-07-26 14:31] Glogo opened #41 "timeOut overriden by ReduxToastr props"
I'm trying to use your library to show toasts in our application but I'm having issue with the `timeOut` option

I dispatched this action:

[code]

But the timeOut gets always overriden by my `ReduxToastr` component prop:

[code]

I'm getting same results when I try removing the timeOut prop:

[code]

Is there any way to make some Toasts dissappear after timeOut and some (f.e. errors) to keep here

[2016-07-26 17:08] diegoddox commented on #41
Hi @Glogo,

The `timeOut` props is that for, to prevent the `toastr` to close, I will take a look at this issue later on.

Thanks!

[2016-07-27 13:16] Glogo commented on #41
Update: after some testing I realized that toasts (either with timeOut={0} prop in `ReduxToastr` or in `toastrActions.success(...)`) as 3d option param get dismissed only after mouseleave event.

We would like to keep toastr message always visible even after hover (f.e. for major error messages that should be dismissed either programatically or by click)

Does it make sense to keep all toasts visi

[2016-07-27 20:11] diegoddox commented on #41
@Glogo It makes sense, there is already a similar request #35

[2016-08-02 08:43] JamesPortelli commented on #35
Hi @diegoddox, hope you had a good vacation. I was just wondering whether you had some time to look into the feature we discussed above?

Thanks
James

[2016-08-02 11:47] meikoudras opened #42 "New NPM release"
Could we get a new npm release? So the few fixes that have been added (lingering console.log) could be removed from the npm version.

[2016-08-02 13:56] diegoddox commented on #42
HI @meikoudras sorry for that, I know is not funny to have a log every time u fire a `toastr` but I still on vacation and without a computer so there is not much I can do now.

I will be back monday next week!! sorry!

[2016-08-02 13:58] diegoddox commented on #35
Hi @JamesPortelli,
Sorry but I still on vacation, I will be back next monday.

[2016-08-02 13:58] meikoudras commented on #42
Haha, it is ok! Enjoy your vacation!

[2016-08-02 14:03] diegoddox commented on #42
I've add another guy to the npmjs so maybe he will be able to make a new release this week.

[2016-08-09 17:03] diegoddox commented on #42
done!

[2016-08-09 17:03] #42 closed, assigned to nobody

[2016-08-09 17:55] diegoddox commented on #35
I've add `removeOnHover` and `removeOnClick`

[2016-08-09 17:58] diegoddox commented on #41
I will close this issue but u can take a look at #35 for more info!

[2016-08-09 17:58] #41 closed, assigned to nobody

[2016-08-09 18:01] diegoddox commented on #35
Hi @JamesPortelli  I'm not sure when the button will be available as I'm working in the styles, but you should have a `remove` `props` in your `toastr` component.

[2016-08-09 19:30] JamesPortelli commented on #35
Wow @diegoddox extremely efficient thank you will have a look tomorrow! 😁

[2016-08-10 10:43] camperov commented on #42
Sorry for not releasign new version, had been busy at work lately
And I also do not have full access to github from my corporate network because of strange filrewall settings

[2016-08-10 10:44] meikoudras commented on #42
No worries! Thanks for the release !

[2016-08-10 10:52] diegoddox commented on #42
@camperov np!

[2016-08-10 15:46] Spiralis opened #43 "Time-travel side-effects problem"
Hi,

Thanks for a great project. I looked at this primarily due to being able to do time-travel on my apps, also for UI notifications.

But, I think I have found a bug. I demoed my project today for a colleague and used time-travel to show off some parts of it. I then noticed that the toastr remove actions re-fired. Could it be that the remove-event is not controlled by a timer from within the ori

[2016-08-12 06:33] diegoddox commented on #43
Hi @Spiralis,
You're right, the remove action is fire from the `toastr` `component`, I will take a look in to it ASAP.

[2016-08-12 08:34] JamesPortelli commented on #35
@diegoddox works perfectly thank you! Now for 'X' button when you can so i can switch them both off and close using it :)

[2016-08-12 08:51] diegoddox commented on #35
Hi @JamesPortelli,

Not sure but until there you can create a `component` `button` that has a onClick with the `remove` props that comes with the `toastr` component.

[2016-08-12 09:10] JamesPortelli commented on #35
@diegoddox Yeh for now i just left the on click toastr remove on. I thought of doing the above but i dont think it would look nice aesthetically. So ill wait untill you can provide me with the 'x' :)

[2016-08-12 09:12] diegoddox commented on #35
@JamesPortelli depend on how you style the button but ok, do what is best for u.

[2016-08-12 11:38] JamesPortelli commented on #35
@diegoddox, discovered a couple of bugs.

1) With the message toastr (Havent tested with others) that has a timeout on it from the toastrOptions, I noticed that the timeOut works as expected as long as you dont hover over the toastr while it is displayed, however if you hover over the toastr before the timeout elapses and then hover back off it, I would expect that it either resumes counting down

[2016-08-12 13:09] diegoddox commented on #35
@JamesPortelli thanks but in the next version there will be no more `message` method and this is because you can inject your own `component`.

[2016-08-12 13:22] JamesPortelli commented on #35
@diegoddox that's fine its home I'm using it anyways. Will the scroll bar if the component exceeds a certain height still appear automatically or will this need to be handled by the injected component?

Also I'm using the message in particular because of the white coloured toastr will there be an alternative way of firing a white toastr?

James

[2016-08-12 13:31] diegoddox commented on #35
@JamesPortelli Yes I will provide the method `toastr.custom` that will render a empty `component` with a white bg.

[2016-08-17 14:24] Leo-Mahon opened #44 "Toastr does not timeout / is not removed."
I am getting a behaviour where the toastr sometimes will not close or timeout. I have set the timeout to 3000 and the toastr type is success.

It seems to be intermittent. The Add action fires and then the Remove action does not.

Im using Chrome version  52.0.2743.116 m
react-redux-toastr version 3.1.4
react-redux version 4.0.6
react version 15.1.0
redux version 3.0.5

[2016-08-18 09:18] diegoddox commented on #44
This may be a Chrome issue, I will take a look ASAP!

[2016-08-18 09:20] Leo-Mahon commented on #44
Thanks!

Also it's worth noting that it will close when you click on it.

[2016-08-19 18:29] diegoddox commented on #44
Hi @Leo-Mahon,
I'm not able to reproduce this issue `Mac: Chrome -v 52.0.2743.116`.
This may be a Chrome `css transition` issue like #37 .

The only way a `toastr` can not be removed is if the `css transition` doesn't work since the `remove` `func` are fired on `transitionend`, try update to the latest version.

[2016-08-19 20:03] diegoddox commented on #43
Hi @Spiralis,

I was not able to reproduce this issue, only in the `demo app` with the `error` `toastr`.

But this is because the `toastr` has `props` `timeOut` and a custom `component`.
The `timeOut` is set to 0, this will prevent the `toastr` to auto `remove` and inside the custom `component` I'm dispatching a `remove` `action`

ex:

[code]

Could you please provide me the version you are using

[2016-08-21 15:21] Spiralis commented on #43
The current version of my project is in a state of rearranging stuff, so I can't provide an example directly unfortunately, I think.

But, from what I can get from it, it looks like this:
- I have a ReduxToastr element in the layout element that looks like this:

[code]
- Then when I use any of the toastr action methods (`info`, `error`, etc) I never specify any explicit timeout (or component):

[

[2016-08-22 15:36] Leo-Mahon commented on #44
Hey @diegoddox

I have updated to 3.6.2, the issue persists  but I found out how to reproduce it reliably.

It only happens when you hover the mouse over the area it will appear and then move the mouse away after it pops up.

Can you reproduce it by doing that?

[2016-08-22 17:40] diegoddox commented on #43
@Spiralis can u please update ot lasted and tell me if you still can reproduce this issue.

[2016-08-22 18:01] diegoddox commented on #44
@Leo-Mahon no, still not able!

![untitled2](https://cloud.githubusercontent.com/assets/2768497/17865499/18075290-68a3-11e6-840f-f322b0644274.gif)

[2016-08-23 10:14] Leo-Mahon commented on #44
You need to put a delay between clicking the button and the toastr appearing because the mouse has to be in the area the toaster will appear _before_ it does appear.

Good idea with making a gif btw :)

[2016-08-23 11:09] diegoddox commented on #44
Still not able.

![untitled](https://cloud.githubusercontent.com/assets/2768497/17889874/b78fcc18-6932-11e6-8cad-d1b8b849b954.gif)

![untitled2](https://cloud.githubusercontent.com/assets/2768497/17889880/be792cc2-6932-11e6-9ea8-ca6e0f779ff3.gif)

[2016-08-23 14:57] backnotprop commented on #43
Seeing the same issues as @Spiralis. I use Redux-DevTools and the issue I am seeing  is that toastr history is being re-fired anytime a new reducer/container is rendered. Not explicitly time-traveling, but does result only when Redux-Devtools is keeping track of history. Disabling DevTools resolves the issue.

[2016-08-23 16:44] gslisboa opened #45 "toastr.confirm actions are not working on IE11 and MS Edge"

[2016-08-23 18:54] diegoddox commented on #43
@mdramos, @Spiralis  have/can u try with the lasted -v?

[2016-08-25 09:38] JamesPortelli commented on #45
Hi @diegoddox, any idea on a timeframe for fix for this bug?

Thanks
James

[2016-08-25 09:52] Leo-Mahon commented on #44
Well I can't seem to reproduce it either now. I'm a little wary of bugs that just go away but I'l let you know if it reappears or I work out what is going on.

[2016-08-25 19:55] diegoddox commented on #44
I will close but fill free to re-open.

[2016-08-25 19:55] #44 closed, assigned to nobody

[2016-08-25 19:56] diegoddox commented on #45
I will first take a look on saturday.

[2016-08-25 19:58] diegoddox commented on #43
@Spiralis @mdramos, any news on this issue!

[2016-08-25 20:00] diegoddox commented on #40
Hi @TheTFo,
I will close this issue but you can see the progress in #35

[2016-08-25 20:00] #40 closed, assigned to nobody

[2016-08-26 13:28] backnotprop commented on #43
@diegoddox sorry for the late update! I've been on 3.6.2. Ill give the latest a shot sometime today

[2016-08-28 19:22] grigored commented on #35
+1 for close button option

[2016-08-28 20:46] diegoddox commented on #45
Hi @gregorystoos  and @JamesPortelli ,
`transitionend` is not working, I will see what I can do ASAP.

[2016-08-29 07:28] gslisboa commented on #45
Hi @diegoddox, thanks a lot. Please let me know when it's corrected !

[2016-08-29 16:49] diegoddox commented on #45
@gregorystoos can u update to the latest and give me a feedback?

[2016-08-29 16:51] diegoddox commented on #43
@Spiralis @mdramos I will close the issue but feel free to re-open in case you still got the same issue.

[2016-08-29 16:51] #43 closed, assigned to nobody

[2016-08-29 20:01] gslisboa commented on #45
Hi @diegoddox, I'm sorry but it's not working. Checked on IE11 and MsEdge. None of them are responding to the OK and Cancel actions even after update to v 3.6.4

[2016-08-29 20:02] diegoddox commented on #45
@gregorystoos have you clear cache?

[2016-08-29 20:11] gslisboa commented on #45
yes @diegoddox !

[2016-08-29 20:13] diegoddox commented on #45
I was able to reproduce the issue every time but after the lasted the issue is gone!
I will see what I can do another day.

Thanks a lot!

[2016-08-29 20:13] gslisboa commented on #45
For info, I'm having a IE 11 on Win7 and an Edge on Win10

[2016-08-29 20:14] diegoddox commented on #45
I've test on Edge and IE11 on Win10.

[2016-08-29 20:22] gslisboa commented on #45
I'm using the VMs that you can find here for Virtual box : https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2016-08-29 20:27] diegoddox commented on #45
@gregorystoos I'm on a `mac-bootcamp` but it should not be the case, I will try again letter on.

[2016-08-30 10:17] petrleocompel opened #46 "Icon prefix"
You souhould provide prefix to toaster icons..

[code]

This is too bad. Also "!important" is not good to use.

[2016-08-30 13:09] diegoddox commented on #46
@petrleocompel thanks.

[2016-08-30 13:16] petrleocompel commented on #46
I would recommend to use some less variable with default :blush: so everybody could change it how need it. Also in code where you are using it (simply extend your component and override some property)

[2016-08-30 13:22] diegoddox commented on #46
@petrleocompel thanks, I don't think is necessary:
`use some less variable with default :blush: so everybody could change it how need i`
but feel free to implement if you want.

[2016-09-05 12:04] rafal-p commented on #44
I have the same issue in IE 11
My versions
    "react": "^15.2.0",
    "redux": "^3.5.2",
    "react-redux": "^4.4.5",
    "react-redux-toastr": "^3.4.0",

Can you please reopen?

[2016-09-05 12:06] diegoddox commented on #44
@rafal-p can u please upgrade to the lasted?

[2016-09-06 08:17] gslisboa commented on #45
Hi @diegoddox, could you check more about this issue ?

[2016-09-07 06:31] diegoddox commented on #45
Yes, I will try with a virtualbox!

[2016-09-08 19:07] Spiralis commented on #43
@diegoddox Sorry, I have been caught up in other work. I will check tomorrow if time allows.

[2016-09-08 19:11] diegoddox commented on #43
@Spiralis np take your time.

[2016-09-15 08:43] fenos opened #48 "Toastr confirm Message with React Component"
Hi, Thanks for the great library,
In the application i'm working on, we have internationalisation in place using [react-intl](https://github.com/yahoo/react-intl), So every text in our app we use the `<FormattedMessage />` component.

So this is what i'm doing to show a `confirmation message`:

[code]

But this is how it show on the screen:
<img width="369" alt="screen shot 2016-09-15 at 09 31 27"

[2016-09-16 07:42] diegoddox commented on #48
You should be able to pass a `component` #47, what is your current version?

[2016-09-20 02:20] nicomfe commented on #45
+1 having same issue

[2016-09-20 06:45] diegoddox commented on #45
Will take a look at this today, I'm having a hard time trying to reproduce :(

[2016-09-22 00:27] nicomfe commented on #45
@diegoddox I was able to reproduce it using **virtual box** and the **IE11-Win 7**  virtual machine from here https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2016-09-22 17:36] diegoddox commented on #45
I was not able to reproduce with the new version only with the old.
New version:
![untitled1](https://cloud.githubusercontent.com/assets/2768497/18759221/c4f74418-80fb-11e6-9c3c-548afd661fda.gif)

Old version:
![untitled2](https://cloud.githubusercontent.com/assets/2768497/18759229/d26e812e-80fb-11e6-9af2-1d808e46384a.gif)

and was with this vb: https://developer.microsoft.com/en-us/microsoft-edge

[2016-09-22 17:38] diegoddox commented on #45
I've release a new v with only the `click` props, not sure if will work but please update and let me know.

[2016-09-22 17:47] #48 closed, assigned to nobody

[2016-09-22 20:56] nicomfe commented on #45
just tested it and it works, thanks man

[2016-09-23 08:27] gslisboa commented on #45
Works here also !!! Thanks @diegoddox you rock ;)

[2016-09-23 08:28] #45 closed, assigned to nobody

[2016-09-23 11:01] JamesPortelli commented on #35
Hi @diegoddox, hope you are well. Just wanted to check on the progress of the 'x'?

[2016-09-23 11:22] FDiskas opened #49 "close confirmDialog on keydown Enter and Esc"
Is it possible?

[2016-09-23 19:37] diegoddox commented on #49
Try the new `version`.

[2016-09-23 19:38] diegoddox commented on #35
Hi @JamesPortelli I'm fine thanks, implemented!!

[2016-09-23 19:42] diegoddox commented on #49
NOTE: I don't have test on edge or IE11 :D

[2016-09-25 06:50] diegoddox commented on #46
#50

[2016-09-25 06:50] #46 closed, assigned to nobody

[2016-09-25 07:09] diegoddox commented on #49
+2

[2016-09-25 07:09] #49 closed, assigned to nobody

[2016-09-25 07:10] diegoddox commented on #35
+2

[2016-09-25 07:10] #35 closed, assigned to nobody

[2016-09-26 11:04] JamesPortelli opened #51 "showCloseBotton instead of showCloseButton"
Hi @diegoddox,

Just having a look at the new functionality, noticed that there is a spelling mistake with the prop showCloseBotton which should be showCloseButton instead.

James

[2016-09-26 11:45] FDiskas commented on #49
:ok_hand: thanks

[2016-09-26 13:20] JamesPortelli commented on #51
Closed by mistake. @diegoddox I have another troubling issue with the closeButton. In the ToastrBox code you do this:
`{options.showCloseBotton && <button className="close-toastr" onClick={this.handleClick.bind(this)}>x</button>}`

Due to the button tag in html implicitly being defaulted to type: 'submit' its causing big issues when I click on it as it tries to submit to the server.

Can you pleas

[2016-09-26 18:01] diegoddox commented on #51
Thanks a lot will fix ASAP

[2016-09-27 05:20] diegoddox commented on #51
done!

[2016-09-27 05:20] #51 closed, assigned to nobody

[2016-09-27 10:52] elawad opened #52 "Demo site differs"
I noticed on the demo site, a toast is clickable and disappears instantly when clicked on anywhere.
Running the app locally, you lose the "pointer cursor" and toasts no longer disappears upon click.

[2016-09-27 10:54] diegoddox commented on #52
Hi @elawad ,
Sorry but the demo is not updated

[2016-09-27 10:57] elawad commented on #52
Oh, I assumed the other way around; that the source has not been updated.
No worries, thanks.

[2016-09-27 10:57] #52 closed, assigned to nobody

[2016-09-29 12:08] danielstern opened #53 "How do you close an existing Toast manually / limit number of toasts on Screen?"
How do you close an existing Toast manually / limit number of toasts on Screen?

Setting `limit` as a prop or in options doesn't seem to work.

Ideally, I would like to close all the toasts on a page manually, before creating a new one, manually.

[2016-09-29 18:36] diegoddox commented on #53
You can use the `clean` method this will remove all toastrs you have on the screen.
ex:

[code]

No, there is no support for limit.

[2016-09-29 18:36] #53 closed, assigned to nobody

[2016-09-29 19:59] carloscuatin opened #54 "Error fonts load css in webpack"
## SASS

![Image](http://image.prntscr.com/image/2886e376e2a646279a3d9c25e4895b17.png)
## ERROR

![Image2](http://image.prntscr.com/image/73e897f499234d2f98ca94495e35c69a.png)

[2016-09-30 17:46] diegoddox commented on #54
This is because the fonts are not in the css folder, import from the src instead.
`import 'react-redux-toastr/src/less/index.less'`

[2016-09-30 17:46] #54 closed, assigned to nobody

[2016-09-30 18:06] carloscuatin commented on #54
then I have to get the sources used and put them in my css folder would not believe it would be better than css or less recognize them alone ??

[2016-09-30 18:12] diegoddox commented on #54
You're using webpack, it will be very easy to add the less-loader! up to you

[2016-09-30 18:13] carloscuatin commented on #54
Yes, Nice 🎉 Thank You

[2016-09-30 18:14] diegoddox commented on #54
You're welcome. [less-loader](https://github.com/webpack/less-loader)

[2016-09-30 18:17] carloscuatin commented on #54
I sass-loader use that load the CSS file

[2016-09-30 18:17] diegoddox commented on #54
what u mean?

[2016-10-05 08:01] FDiskas opened #55 "Progress bar"
Missing some fancy features like progressbar displaying then the message will be autoclosed
For more useful settings please check this demo
http://codeseven.github.io/toastr/demo.html

Please add all features from that example :100:

[2016-10-05 21:24] nicomfe opened #56 "Confirm box is not shown in node version 6.3.1"
Ive just updated to node version 6.3.1 and the toastr confirm box stopped being displayed.
Im seeing the @ReduxToastr/confirm/SHOW action on the console but nothing happens.

node version: 6.3.1
browser: chrome 53.0.2785.143
os: OSX 10.11.3
react-redux-toastr 3.8.5

EDIT: I can confirm the issue was introduced in 3.8.0 as the last version working is 3.7.1

[2016-10-06 13:38] diegoddox commented on #56
Have you tried reinstall all packages?

[2016-10-06 21:11] nicomfe commented on #56
yes, I did

[2016-10-10 11:19] FDiskas opened #57 "Why !important"
Tel me why this is !important?
This overwrites my custom fonts :o

[code]

[2016-10-10 11:32] FDiskas commented on #57
I'm using
`"react-redux-toastr": "3.7.0"`
so please update the npm to

[2016-10-13 10:01] williamboman opened #58 "Redux dev component overshadows toastrs in examples"
z-index on the redux dev tool component is too damn high

[2016-10-13 11:16] diegoddox commented on #58
I know :D, maybe I can add an check that if you're `hot` mode we will override the `devtools` `z-index`

[2016-10-13 11:17] williamboman commented on #58
Maybe position toastrs to top-left instead, would be easiest?

[2016-10-13 11:18] diegoddox commented on #58
or you can move the `devtools` into other position.

[2016-10-13 12:37] #58 closed, assigned to nobody

[2016-10-13 12:38] diegoddox commented on #57
Will remove that, is not necessary.

[2016-10-13 15:36] jmsherry opened #59 "Question and possible issue with toastr insertion point"
Hi there,
I'm just getting to grips with the full react-redux ecosystem. I've inserted the toastr as suggested and I see the actions dispatched and they are present in the store but no toasts appear.

I can see that the html for the toast is inserted into the page, but it's never populated with text and animated.

The only thing I can think of is that it's something to do with insertion. I have an

[2016-10-13 17:52] diegoddox commented on #59
It looks fine, have you add or import the styles?

[2016-10-13 18:00] diegoddox commented on #56
What's happens if you downgrade your node?

[2016-10-13 18:05] diegoddox commented on #57
Update to the lasted!

[2016-10-13 18:05] #57 closed, assigned to nobody

[2016-10-13 20:01] nicomfe commented on #56
it works with node 5.7.1

[2016-10-14 14:42] edmelly commented on #56
I don't think this issue is related to node version, but I could be wrong.

From `3.8.x` onwards the `.confirm-holder` div is no longer given the `active` class (it's handled differently internally). I had the _old_ CSS locally, so when I updated to the `3.8.x` branch, the old styles (with `display: none;`) were still being applied and the confirmation was always hidden.

If you see the `@ReduxToa

[2016-10-14 17:19] diegoddox commented on #56
Thanks @edmelly, what you mean by include the `minified.less` file into to the `build` folder, how is this going to help?

[2016-10-14 20:09] edmelly commented on #56
Because otherwise people have to reference a static version of the CSS (as suggested in the readme) or compile the less files themselves (incorporating it into Webpack most likely). With the former you risk running into problems if an update to `react-redux-toastr` relies on the most recent styling changes (as happened to me).

The second option is the only way to ensure that when you update you g

[2016-10-15 01:12] jmsherry commented on #59
@diegoddox Sorry, I imported them but then deleted them. Closing issue.

[2016-10-15 01:12] #59 closed, assigned to nobody

[2016-10-15 07:20] diegoddox commented on #56
True that, I've thought about that before as well.

[2016-10-15 07:25] diegoddox commented on #56
@edmelly you do know that you have access to the `css` file that is located in the `lib/css` folder?

so you can import from that one.

ex:
`import 'react-redux-toastr/lib/css/react-redux-toastr.min.css'`

[2016-10-17 09:43] edmelly commented on #56
@diegoddox ah - no, I thought I'd tried that and couldn't get it working. That could be a good solution, though from memory there may be additional setup required for font files when grabbing the CSS. I'll test more thoroughly: either way, this issue can most likely be closed if @nicomfe can confirm whether my fix was successful.

[2016-10-17 18:57] FDiskas commented on #57
:tulip: thanks. worked.

[2016-10-17 20:07] nicomfe commented on #56
just tried version 3.8.5 including the css from here http://diegoddox.github.io/react-redux-toastr/3.8/react-redux-toastr.min.css and it works. So I gueess I have to figure out how to include the latest css in my build. thanks guys

[2016-10-18 07:26] #56 closed, assigned to nobody

[2016-10-19 03:51] kwent opened #60 "@connect decorator"
Hi,

Could we just get rid of this decorator https://github.com/diegoddox/react-redux-toastr/blob/master/src/ReduxToastr.js#L10 and replace by the usual way ?

Decorators are no more supported by `babel6` and using `babel-plugin-transform-decorators-legacy` is adding some more configuration complexity. (And do not work in my app for some reasons...)

Regards,

[2016-10-20 09:08] diegoddox commented on #60
That's fine with me, you're welcome to give me a hand ;)

[2016-10-23 09:32] nthienan opened #62 "Message should be word-warp"
Any idea how to workarround to add word-warp text in message div? I cannot modify css because it is imported directly.  I think `message` css class should support `word-wrap: break-word` attribute original.

![image](https://cloud.githubusercontent.com/assets/10244759/19625243/3f04c696-993d-11e6-8c79-cf6e0b2ea9fe.png)

My problem as bellow picture:

![image](https://cloud.githubusercontent.com/ass

[2016-10-23 19:31] diegoddox commented on #62
The `message` `style` is not important and I think we should handle this by adding `break-word`

[2016-10-23 19:31] #60 closed, assigned to nobody

[2016-10-24 08:33] scyros opened #63 "Cannot import actions constants"
I want to catch the action type of the toaster to check it and take some runtime decisions.

¿How can i import them directly?
¿Can i do this?

[code]

[2016-10-24 14:44] nthienan commented on #62
I also think so. But do you have any suggestions to workaround? As I mentioned I cannot modify style directly.

[2016-10-24 18:45] HenrikBechmann opened #64 "unknown prop 'remove' warning"
I'm getting

[code]

using react 15.3.2

when invoking this code:

[code]

Any ideas how to resolve this?

the message refers me to this: https://facebook.github.io/react/warnings/unknown-prop.html

Re: toastr: nice module!!

[2016-10-24 21:18] elawad opened #65 "Fonts directory is missing"
Current release is missing fonts directory in /lib.
Css file is expecting fonts to be at /lib/fonts/.

Reverting back to 3.8.5 corrected the issue.

[2016-10-25 09:25] diegoddox commented on #65
Thanks!

[2016-10-25 09:25] #65 closed, assigned to nobody

[2016-10-25 09:33] diegoddox commented on #63
try `import {ADD_TOASTR} from 'react-redux-toastr/constants'`

[2016-10-25 09:33] #63 closed, assigned to nobody

[2016-10-25 09:34] diegoddox commented on #62
Sorry I don't.

[2016-10-25 09:36] diegoddox commented on #64
This is because we are parsing the `remove` props to the `div`, Will fix that ASAP

[2016-10-26 18:46] jakeorr opened #66 "Add preventDuplicates option"
Hi Diego,

Would it be possible to add support for a `preventDuplicates` option similar to what the base toastr module provides?

https://github.com/CodeSeven/toastr#prevent-duplicates

[2016-10-30 19:11] diegoddox commented on #66
sure!

[2016-11-01 10:21] anatoliykot opened #67 "Notification upper again when location change"
fix is listen for LOCATION_CHANGE and clear toastr, but I'm sure when this is correct

(function used in redux-saga)

`function* watchLocationChange() {`
`  while (true) {`
`    try {`
`      yield take(LOCATION_CHANGE);`
`      toastr.clean();`
`    } catch (e) {`
`      log.error(e);`
`    }`
`  }`
`}`

[2016-11-02 08:11] pjarmalavicius commented on #55
#68

[2016-11-03 08:42] FDiskas commented on #55
:snail: Waiting :)

[2016-11-03 14:12] cdxOo opened #69 "cannot pass className/id properties to ReduxToastr component"
As of v3.9.1 neither `<ReduxToastr id="some-id">`  nor `<ReduxToastr className="some-class">` seem to work. It would be nice if one could use the default css of toastrjs that expects the container element to have the ID "toast-container" without manually fiddling around. Also some commercial templates expect that ID as well.

[2016-11-03 14:20] mbifulco commented on #55
Very interested in this PR - would love to see it go through!

[2016-11-04 12:20] cmj91uk opened #70 "Confirm Toast - Both options can be clicked"
Using the confirm toast it is possible to click both the OK and Cancel buttons if the clicks are completed before the animations. In this case both the onOk and onCancel fucntions passed as part of the options can be executed.

The issue can be replicated on the demo site (http://diegoddox.github.io/react-redux-toastr/) by leaving the console open. Would it be possible to disable the buttons when

[2016-11-04 14:30] #55 closed, assigned to nobody

[2016-11-04 14:37] diegoddox commented on #69
Hi, now you can use the `props` `className`

[2016-11-04 14:37] #69 closed, assigned to nobody

[2016-11-04 14:39] diegoddox commented on #67
I'm not sure what you're trying to say!

[2016-11-04 14:48] diegoddox commented on #70
fixed!

[2016-11-04 14:48] #70 closed, assigned to nobody

[2016-11-04 16:21] diegoddox commented on #66
done!

[2016-11-04 16:21] #66 closed, assigned to nobody

[2016-11-04 16:22] diegoddox commented on #62
I will close this issue fro now!

[2016-11-04 16:22] #62 closed, assigned to nobody

[2016-11-04 16:24] diegoddox commented on #64
Please update to the latest and let me know.

[2016-11-04 16:26] jakeorr commented on #66
Excellent, thanks for the update! :)

[2016-11-04 16:26] diegoddox commented on #64
I will close as I'm sure that the new version does't pass the `remove` as `props` to the `div` https://github.com/diegoddox/react-redux-toastr/blob/master/src/ToastrBox.js#L162

[2016-11-04 16:26] #64 closed, assigned to nobody

[2016-11-04 16:27] diegoddox commented on #66
you're welcome!

[2016-11-07 09:38] n0ne opened #71 "Warning in v.4.0.2"
I've just updated to 4.0.2 and in console this warning:

     Warning: Unknown prop `fit` on <svg> tag. Remove this prop from the element. For details, see      https://fb.me/react-unknown-prop
          in svg (created by Icon)
          in Icon (created by ToastrBox)
          in div (created by ToastrBox)
          in div (created by ToastrBox)
          in div (created by ToastrBox)

[2016-11-07 12:37] diegoddox commented on #71
done!

[2016-11-07 12:37] #71 closed, assigned to nobody

[2016-11-07 13:48] n0ne commented on #71
Thank you! Awesome!

[2016-11-09 11:50] manuxio opened #72 "breaking changes?"
Has the latest release some breaking changes?
I see success/warning/... methods no longer exposed by the library...
Is the doc in readme outdated?

Thanks

[2016-11-09 12:13] diegoddox commented on #72
It has some changes but those methods still there.

[2016-11-09 12:19] manuxio commented on #72
There's something weird in my setup (freshly updated...)
Gotta investigate... sorry to bother...

Right now I don't see any of those...
All I see is:

`
add
clean
hideConfirm
remove
showConfirm
`

which, btw, is what's exposed by react-redux-toastr/src/actions.js

[2016-11-09 12:23] diegoddox commented on #72
Sorry, I see what you mean now, just use the add function.

[code]

[2016-11-09 12:25] manuxio commented on #72
Yes, I supposed so...
but then:
How to confirm? warn? ... can you point me to the correct options?
All I am getting is blank (empty) popups....

[2016-11-09 12:27] diegoddox commented on #72
just add a `type` in your object.

[code]

[2016-11-09 12:31] manuxio commented on #72
Fantastic ;)
Btw, there's something with the svg...

warning.js:36 Warning: Unknown prop `fit` on <svg> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop

[2016-11-09 12:32] diegoddox commented on #72
This is fix #71

[2016-11-09 12:35] manuxio commented on #72
Strange I didn't get that patch...
let me re-update :)

[2016-11-09 12:51] manuxio commented on #72
Great, everything working now...
Can I PM you somehow?

[2016-11-09 12:52] diegoddox commented on #72
sorry what you mean by PM? :D

[2016-11-09 14:10] manuxio commented on #72
I wanted to send you a private message - don't know how to do it via github...

[2016-11-10 03:03] diegoddox commented on #72
diegoddox@hotmail.com

[2016-11-10 03:03] #72 closed, assigned to nobody

[2016-11-14 07:00] diegoddox opened #75 "Chnage the property confirmOption to confirmOptions"

[2016-11-14 10:03] torkjels opened #76 "Clicking X on toastr then moving mouse out of and back onto toastr cancels the X click"
If I click on the X to remove the toastr and then quickly move my mouse out of the toastr and quickly back onto the toastr before it has disappeared, the toastr will stay there. This happens regardless of me setting removeOnHover to true or false.

[2016-11-14 10:07] diegoddox commented on #76
This is because the `mouseenter`, in case the user `mouseneter` we keep the `toastr` .

[2016-11-14 11:24] torkjels commented on #76
So you're saying this is intended functionality even when the user has explicitly pressed X to close the toastr? To me it seems like a bug

[2016-11-14 12:24] diegoddox commented on #76
Will take a look.

[2016-11-17 10:33] dp-huang commented on #44
I got the same issue, but found there is an option "removeOnHover" that can enable/disable the toastr removal after timeout. Thanks, well designed.

[2016-11-17 14:01] diegoddox commented on #44
@dp-huang you can disable the timeout by adding the `timeOut: 0`  in your `toastr` option

[2016-11-17 15:11] carloscuatin opened #77 "change of .less to .sass or .scss for styles ?"

[2016-11-19 20:28] HenrikBechmann opened #78 "toastr.message(...) fails in 4.0.3"
toastr.message(...) fails in version 4.0.3 when options.component is set

when I hack toastr() in lib/ToastrBox.js as follows (comment out conditional call to renderMessage), toastr.message succeeds
[code]

note that renderMessage doesn't process options.component

[2016-11-19 20:31] HenrikBechmann opened #79 "still getting "Unknown prop 'remove'"
still getting

[code]
when rendering options.component

version 4.03

[2016-11-19 20:53] diegoddox commented on #78
Can you please provide the code you're running?

[2016-11-19 21:03] diegoddox commented on #79
How are you passing the `component`? can you provide a small example of the code?

[2016-11-19 21:03] diegoddox commented on #67
any news on this issue?

[2016-11-19 21:45] HenrikBechmann commented on #79
[code]

[2016-11-19 21:46] HenrikBechmann commented on #78
let url = json.data.url

            let toastrComponent = ( <div style={{width:"300px"}}>
                    <p style={{width:"290px"}}>To share the selected row of
charts, copy the url below, and send it to a friend.</p>
                    <input
                        ref = {node => {
                            this._inputfieldref = node
                        }}
                        on

[2016-11-19 21:48] HenrikBechmann commented on #78
[code]

[code]

[2016-11-20 08:29] diegoddox commented on #78
Very strange, I'm not able to reproduce but there is a `bug` on the `message` method that we are not rendering the `component` `options` and in this case is even more strange you're getting this error.

You can see that [here](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ToastrBox.js#L183) that there is no render of the `options.component`

I've create a issue for the message `o

[2016-11-20 08:32] diegoddox opened #80 "The method message are not rendering the `options component`"
We should be able to pass a `component` `options` in the `message` method. [codeplace](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ToastrBox.js#L183)

[2016-11-20 14:49] HenrikBechmann commented on #78
How is it that you don't get the bug if the message method doesn't render the component?

Only possibility would be that in your environment `this.props.item` does not resolve to 'message', no? (which would itself be a bug)

I'm apparently getting the error because `this.props.item` correctly resolves to 'message'

I'm using react 15.4.0 (and react-redux 4.4.6)

In any case, it should resolve once

[2016-11-20 17:51] diegoddox commented on #78
Because the method `message` do not render the `options.component` it will be as if you pass a extra options that we do not use ex:

[code]

right now `myOptionsBBC` and `component` are ignored by the message.

In the `renderToastr` func we render the `options.component`[code](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ToastrBox.js#L172)

But not when you use the `message` met

[2016-11-20 17:57] diegoddox commented on #78
Have you try remove `node_modules` and reinstall?

[2016-11-22 22:44] matthewmcquaid commented on #77
+1

[2016-11-23 11:00] benbarber opened #81 "Bug icon on error toast is not appropriate"
I feel that the bug icon is not appropriate for an error message as it give's the wrong message to the user.

Presenting the user with an error toast doesn't always indicate that there is a bug, it could be that they don't have permission, or have input some data incorrectly in a form.

[2016-11-23 11:03] Toyinster commented on #81
+1  I would prefer it if we were able to opt out of the icons.

[2016-11-23 11:37] diegoddox commented on #81
@BenBarber I've change the `error` `icon`.
@Toyinster you can pass your own icon if you prefer
ex:
[code]

[2016-11-23 11:37] #81 closed, assigned to nobody

[2016-11-23 11:42] Toyinster commented on #81
That was ultra quick - thanks for the response. I like the new features, but would like to opt out of the icons completely...is that possible without getting a blank space where the icon would normally be?

[2016-11-23 11:50] benbarber commented on #81
@diegoddox Icon change is perfect, thanks for the quick response!

[2016-11-25 21:05] #75 closed, assigned to nobody

[2016-11-26 04:41] #77 closed, assigned to nobody

[2016-12-02 03:17] abarcemas opened #85 "Unexpected Token Error ReduxToastr.js"
I npm install this package and when I get to step 3, (declaring the `import { reducer as toastrReducer } from 'react-redux-toastr'` I get this error.

[code]

I'm using https://github.com/mxstbr/react-boilerplate.

[2016-12-03 17:54] dcmdestello commented on #85
Same problem here, using `mxstbr/react-boilerplate` v.3.2.1 with my app on top of it. For now I've solved this issue by manually moving the `react-redux-toastr/` folder out of `node_modules/` to my own `lib/` folder.

So my imports look like this:

`import { reducer as toastrReducer } from 'lib/react-redux-toastr';`

It's probably a missconfiguration within the react-boilerplate's webpack but I wo

[2016-12-03 18:23] diegoddox commented on #85
I will take a look

[2016-12-03 19:20] diegoddox commented on #85
This is because of the way they have setup webpack config file

[2016-12-03 19:39] #76 closed, assigned to nobody

[2016-12-03 20:42] diegoddox commented on #67
I will close but fill free to re-open in case you need.

[2016-12-03 20:42] #67 closed, assigned to nobody

[2016-12-03 21:08] diegoddox commented on #79
I'm not able to reproduce, I've update the project but still nothing.
[Here]() you can see that we only pass the props to the component but not to the `html` `element`.

I can be because of the way you're building your dev/pro code?

[2016-12-03 21:47] HenrikBechmann commented on #79
Do these images help?

The error:

<img width = "377" alt = "2016-12-03 04 43 09 pm" src="https://cloud.githubusercontent.com/assets/4584381/20867008/ead8c760-ba08-11e6-9a26-9adbcd63b1bb.png" />

The rendered toastr.message...:

<img width="377" alt="2016-12-03 04 39 25 pm" src="https://cloud.githubusercontent.com/assets/4584381/20867014/f74c3f22-ba08-11e6-8898-8f3b9c6c2c28.png" />

The react cons

[2016-12-04 09:47] diegoddox commented on #79
Not able to see the images :D

[2016-12-04 15:16] HenrikBechmann commented on #79
Sorry, I've uploaded them now (I had just replied to email); I can't get them to render inline

[2016-12-04 15:19] diegoddox commented on #79
Can you try like this ex:
[code]

[2016-12-04 15:44] HenrikBechmann commented on #79
@diegoddox That worked! (cleared the warning). Subtle. Thanks!

What's up with that? function return of jsx expression creates react component; jsx expression return of jsx doesn't?

[2016-12-04 16:41] diegoddox commented on #79
Jep, you're retuning a `func`.

[2016-12-04 16:41] #79 closed, assigned to nobody

[2016-12-08 06:08] aaronbeall opened #86 "Hide a specific toast?"
I see you can hide all toasts using `toastr.clean()` but is there a way to hide a specific toast or toast type?

[2016-12-08 06:52] diegoddox commented on #86
Sorry but no, I'll implement asap

[2016-12-08 12:10] manuxio opened #87 "scss import"
for some reason, when including this repo in a wider project, the scss import fails...
I have no clue why, but the issue is fixed with:

@import './animation.scss';
@import './confirm.scss';

instead of

@import './animation';
@import './confirm;

Please change this in a future release...
Thank you

[2016-12-08 17:49] diegoddox commented on #87
well this may be your project that has to handle, else I don't know what you're talking about.

[2016-12-08 18:29] manuxio commented on #87
Be it my project or the syntax itself, when using a complex configuration (with tweaks and stuff) not adding the extensions is a problem.
You can fix it easily, just by adding the '.scss'...
if that's not possible, then I'll figure it out by myself.
The issue is certainly related with sass-loader ... nevertheless, it should not be a big issue to just add the extensions...

[2016-12-08 20:02] aaronbeall commented on #86
No rush but it would be nice. :) If I have time I can look into creating a PR. Another option is if there was a way to acquire the toast id, perhaps the `toastr` methods could return the id for the next toast, then I could just dispatch a `toast/remove` action myself.

[2016-12-08 20:04] diegoddox commented on #86
This `func` is already in use but is not public for the `emitter` so it should not take that long to implement.

[2016-12-08 20:07] diegoddox commented on #86
But if you should be able to remove `toastrs` by `id` that means you need have the ability to self add the `toastr` `id` which is not possible today

[2016-12-08 20:29] diegoddox commented on #86
You can at least remove by type with the latest version, not sure if will be necessary to remove a `toastr` by `id` as you have access to this in the `toastr` `component` `options`

[2016-12-08 20:29] #86 closed, assigned to nobody

[2016-12-08 20:29] diegoddox commented on #87
[done](https://github.com/diegoddox/react-redux-toastr/blob/master/src/styles/index.scss#L1)

[2016-12-08 20:29] #87 closed, assigned to nobody

[2016-12-09 16:48] dcmdestello commented on #85
Any idea as to why? I've only encountered this issue with this package so far.

[2016-12-09 17:36] diegoddox commented on #85
Have u read my comment above? You should open an issue with then, some of the code I wrote in es7 they are not handling, that's why you're getting this error.

[2016-12-12 13:25] palforsberg opened #90 "Close button"
The close button has a 'x' as value instead of a regular multiplication cross which would fit better. &#10005. Or the option to switch.

See http://www.w3schools.com/charsets/ref_utf_dingbats.asp

[2016-12-12 18:12] diegoddox commented on #90
Thanks!

[2016-12-19 04:17] afalz opened #93 "Better way of binding enter/esc keys"
Rather than adding a window event listener, would it be better to give the confirm-holder element a tab-index of -1 and then add the key binding directly.

`<div className="confirm-holder" tabIndex="-1" onkeydown={handleOnKeyDown}>...</div>`

[Pull Request](https://github.com/diegoddox/react-redux-toastr/pull/94)

[2016-12-20 01:49] #93 closed, assigned to nobody

[2016-12-20 02:19] #90 closed, assigned to nobody

[2016-12-20 13:28] palforsberg commented on #90
Thanks!

[2016-12-23 06:44] snowgrus opened #97 "update react-rudex ^5.0.1"

[2016-12-23 13:06] diegoddox commented on #97
What you mean?

[2016-12-29 22:41] #97 closed, assigned to nobody

[2017-01-07 16:38] anpieber opened #100 "Release current master"
Hey,

To make npm shrinkwrap happy again might it be possible to get a release of the master (or a micro release) where this is fixed already:

peer invalid: react-redux@^4.0.1, required by react-redux-toastr@4.4.2

Thank you very much!

[2017-01-08 00:05] diegoddox commented on #100
Done.

[2017-01-08 00:05] #100 closed, assigned to nobody

[2017-01-08 00:23] #80 closed, assigned to nobody

[2017-01-08 00:23] diegoddox commented on #78
I will close this `issue` but feel free to re-open in case you need.

[2017-01-08 00:23] #78 closed, assigned to nobody

[2017-01-10 07:22] zatziky opened #101 "Feature: width of toastrs"
Hi Diego,

do you plan to add a customizable width for the toaster? It could fit in the options object as enums `small`, `medium` and `big`.

[code]

Cheers,

Zat

[2017-01-12 00:10] diegoddox commented on #101
No, I'm not planing in add this feature but feel free to add and create a `pull request`

[2017-01-12 00:10] #101 closed, assigned to nobody

[2017-01-13 14:44] ilyamkin opened #102 "Animation side effect"
Hi there!

I'm using your component and found an interesting issue.

First I clicked the close button and fired the `_removeToastr()` event. Then while the toastr box is moving under my mouse (I use `fadeIn` animation), component will run `onleave` and then `onenter` event which make `isHiding = false` and prevent from running `remove(id)`. As a result I see closing toastr, then showing again and

[2017-01-15 13:42] diegoddox commented on #102
Thanks, will look asap.

[2017-01-18 00:05] jerfowler opened #103 "Support of React CSS Modules?"
How best to get CSS Module support working with toast?

https://github.com/gajus/react-css-modules

I would like to do something like this:

[code]

[2017-01-18 01:59] jerfowler commented on #103
I would also probably change the css class name from `react-toastr` to just `toastr` so we can use dot notation:

[code]

[2017-01-19 10:08] diegoddox commented on #103
I will pass the `className` as `prop` ASAP

[2017-01-24 21:31] diegoddox commented on #103
You can pass [className](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ReduxToastr.js#L97) as `prop`

[2017-01-24 21:31] #103 closed, assigned to nobody

[2017-01-26 17:02] diegoddox commented on #102
If we remove the `this._setIsHiding(false);` from the `mouseEnter` the user will not be able to cancel a animating `toastr` to close, so I've add a `ignoreIsHiding` property.

[2017-01-26 17:02] #102 closed, assigned to nobody

[2017-01-26 19:00] ilyamkin commented on #102
Thanks!

[2017-01-27 05:57] liz-ophiuchus opened #105 "preventDuplicates has no effect."
It appears that preventDuplicates isn't working. I've diff-ed the incoming and existing toastr, and there is no difference, but the new toastr is appended anyway. Let me know if I can provide any additional info to make debugging easier. :)

[2017-01-27 09:04] diegoddox commented on #105
Thanks, will look asap.

[2017-02-02 13:38] jkurei opened #106 "TypeError: state.get is not a function"
I'm trying to use this module and I've run against a few issues. The first one was this error:

[code]

Located in this line, in `node_modules/react-redux-toastr/lib/ReduxToastr.js`:

[code]

I'm by no means a redux expert, but the only situation I know where `state` has a `get` method is using libraries `redux-immutablejs`. I don't think `react-redux-toastr` should assume the user is using immuta

[2017-02-02 16:05] diegoddox commented on #106
Hi, that is the case, we check to se if we have a `toastr` fi we don't have that means is a `immutablejs` object.
[Here is the code](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ReduxToastr.js#L113)

[2017-02-06 07:56] diegoddox commented on #106
I will close but feel free to re-open in case you need but the only way I think you can get this error is if you don't have setup the reducer in the proper way

[2017-02-06 07:56] #106 closed, assigned to nobody

[2017-02-10 07:17] nitish24p opened #107 "Unable to view toast"
I have to following code, i can see the state object of toastr changing, but im not able to see the toast in the ui

[code]

What could i be doing wrong. the redux dev tools show the state changing. I am using server side rendering.

[2017-02-10 07:23] diegoddox commented on #107
Have you `import` the styles?
`import 'react-redux-toastr/src/styles/index.scss'` or
`<link href="http://diegoddox.github.io/react-redux-toastr/4.4/react-redux-toastr.min.css" rel="stylesheet" type="text/css">
`

[2017-02-10 07:30] nitish24p commented on #107
sorry man.. didnt see that in the docs.. closing :) Thanks 👍

[2017-02-10 07:30] #107 closed, assigned to nobody

[2017-02-10 09:01] nitish24p commented on #107
@diegoddox another question, how does one stack toasts, if the triggering button is pressed repeatedly, very fast. Any options?

[2017-02-10 10:07] diegoddox commented on #107
No, only the `preventDuplicates` but it looks like there is an issue #105

[2017-02-15 11:11] kristian-elder opened #108 "Toasts to not disappear if clicked"
I cannot reproduce this in the demo, but running against the latest version (4.4.6) in our app - if a toast is clicked, it will never disappear and will also prevent toasts following it from disappearing.

Additionally, while the demo has close buttons on the toasts, I do not get these in my app - is there an option for this?

[2017-02-15 11:47] diegoddox commented on #108
what about the `style` have you upgrade as well?

[2017-02-15 11:50] kristian-elder commented on #108
Style is imported in project via the npm dependency - so comes from 4.4.6.

[2017-02-15 11:53] diegoddox commented on #108
Ok will look asap, and not you don't need to add any option for the close button it shall always be there.

[2017-02-15 12:28] kristian-elder opened #109 "Toasts reappear when reducers are replaced"
I've successfully wired up react-redux-toastr, and notifications appear as expected. However, when we go to a new route in our app, the old notifications appear again.

In the redux dev tools, I can see @ReducToastr/toastr/REMOVE being emitted again after the toast flashes, but no actions for triggering a toast (by our application or toastr itself).

Not sure if it is a route change that triggers

[2017-02-15 12:40] kristian-elder commented on #109
A bit more context:

We dynamically add reducers to redux when loading routes, ultimately resulting in a call to store.replaceReducer(makeRootReducer(...))

When this happens, toastr appears to replay something and displays the previous toasts again.

Is there a workaround for this?

[2017-02-15 14:00] kristian-elder commented on #109
FYI - we've worked around this in our app by explicitly clearing toasts after injecting new reducers, but would be even nicer if we didn't have it.

[2017-02-17 15:47] kristian-elder commented on #109
Additional additional info: We are using immutable.js for the redux store.

[2017-02-17 15:51] kristian-elder commented on #108
A bit more info: This behaviour happens when toasts are created using the actions directly, without going through toastrEmitter. This with the default has no options, which implies removeOnHover: false and showCloseButton: false.

This combination results in the behaviour described - toasts never disappear after clicked.

[2017-02-20 07:52] diegoddox commented on #108
Hi @kristian-elder , thanks for the info, I'm a bit busy but asap I will take a look.

[2017-02-21 09:55] jayden-17 commented on #109
If you used 'react-redux-starter-kit',
check this source (https://github.com/davezuko/react-redux-starter-kit/commit/820ca897db802979be2ce46e4d016076744145a2)
and this issue(https://github.com/gaearon/redux-devtools/issues/304)

[2017-03-10 09:42] gytisgreitai commented on #108
I'm having the same problem. On close does not work.

The culprit seems to be `onCSSTransitionEnd` because `ReactTransitionEvents.addEndEventListener` never fires.

I was using `webpack` `css-loader` and importing it via @import scss syntax:

[code]

I i simply include css file in header
[code]

works fine

[2017-03-10 12:44] diegoddox commented on #108
This may be because of the `css` `prefix`, there is no `prefix` on the `scss` files, what browser are you having this issue?

[2017-03-13 08:37] gytisgreitai commented on #108
Not sure what you mean? I've tested on latest Chrome

[2017-03-13 08:57] diegoddox commented on #108
Never-mind, thanks for the info.

[2017-03-21 17:06] lucaong commented on #108
Possibly related to this, on mobile Chrome, tapping on more than one toast causes all but the first of them to never disappear.

A quick look at the code leads me to think that there are two different problems (but I might be off-track):

  1. In the `ToastrBox` component, the events `onMouseEnter` and `onMouseLeave` do not work as expected on a touchscreen: in particular, `onMouseEnter` will trig

[2017-03-27 17:17] ilaipi commented on #108
it seems that if I set the `okText` and `cancelText` like this ：
[code]
I will not be able to click confirm or cancel btn.

while I create the container without the confirmOptions and set the `okText` and `cancelText` by:
[code]
then I can click the confirm or cancel btn.

[2017-03-31 01:43] luismendozamx commented on #109
+1 on this issue. We are doing code splitting and loading reducers dynamically. Any pointers or examples on how you solved it @kristian-elder?

Also using immutable.js. Our app is based on https://github.com/react-boilerplate/react-boilerplate

[2017-04-04 22:41] sereschen commented on #108
Any solution for this? i'm having the exact same issue and use case of @gytisgreitai

[2017-04-06 08:46] pimvanderheijden opened #115 "unknown prop"
Hi there,

I love the toastr but find there are some issues. One of 'em is the following React error about an unknow prop "remove" on a div tag or a span tag...

What needs be done?

[code]

Error appears in version 4.4.6 & 5.0.0

    "react": "^15.4.1",
    "react-bootstrap": "^0.30.7",
    "react-dom": "^15.4.1",
    "react-redux": "^5.0.1",
    "react-redux-toastr": "^4.4.6",
    "react-router"

[2017-04-06 08:47] pimvanderheijden commented on #109
I don't have this issue with v4.4.6
Do have it in v5.0.0

Using react-redux-starter-kit

[2017-04-06 12:15] saidkholov commented on #108
I am having the same issue. Using css modules

[2017-04-06 13:56] pimvanderheijden commented on #115
Fixed this by using a custom wrapper component instead of a normal div or span, as shortly explained in readme:

[code]

[2017-04-07 11:42] #115 closed, assigned to nobody

[2017-04-10 15:30] diegoddox commented on #108
@gytisgreitai can you try import the style via your main`js/jsx`?

[2017-04-10 17:06] jalkoby commented on #108
Confirm boxes has been fixed in #114

[2017-04-11 09:48] jalkoby commented on #108
Hi guys. I've made  #116 pull request which adds checks for inputed transitions in dev mode. It will help users to figure if something is done wrong

[2017-04-12 12:34] bricejulia opened #118 "prop-type in devdependencies"
It seems that there is a problem with your module dependencies. I think that the package prop-type should be in the dependencies ?

[2017-04-12 13:14] diegoddox commented on #118
Thanks, fixed!

[2017-04-12 13:14] #118 closed, assigned to nobody

[2017-04-12 22:48] tnrich opened #119 "prop-types module not found error"
Hey @diegoddox ,

I am getting the following errors:

[code]

when trying to require your library.
![image](https://cloud.githubusercontent.com/assets/2730609/24982643/406d8d7a-1f97-11e7-96d5-d978b3d87b55.png)

Am I doing something wrong or did something change?

I'm using "react": "^15.4.2" and node v6.9.2

Thanks!

[2017-04-13 06:43] diegoddox commented on #119
Hi @tnrich
This is because the module `prop-types` is in the `peerDependencies`
so just run this command, `npm i --save-dev prop-types`.

This module is because `React.PropTypes` is deprecated in `v15.5`, you can read more about it [here](https://facebook.github.io/react/docs/typechecking-with-proptypes.html)

Btw sorry for that, this should be fixed in the `v6.2.4`.

[2017-04-18 13:43] diegoddox opened #120 "Check if we need to update the component."
we don't wanna re-render the main component if is not necessary.

[2017-04-19 08:19] anpieber opened #121 "If the action creator is used messages without a position are not rendered"
While, according to the documentation, the default location should be used, this is done no where in the code. Therefore, if the actions are not including a position https://github.com/diegoddox/react-redux-toastr/blob/master/src/ReduxToastr.js#74 ```.filter(item => item.position === position)``` simply is false for all sides. I think something like ```item.position ? item.position === position :

[2017-04-19 14:26] amitava82 commented on #108
yep css-module seems to be the reason.

[2017-04-20 07:11] torkjels commented on #108
I'm also experiencing that the toastrs don't disappear on some mobile devices like the built-in browser on the Samsung Galaxy S4 Android 5.0.1, and the built-in browser on Nexus 7 android 5.1.1. It doesn't disappear when I click the close button or when the timer runs outs. But on Chrome/Firefox it disappears.

When I click the close button I can see that it's detected by the css (it gets whiter),

[2017-04-21 08:51] torkjels commented on #108
@gytisgreitai 's solution worked for me as well :)

[2017-04-28 07:11] XanderDwyl opened #122 "is it possible to support inputbox?"

[2017-05-04 18:55] ericlau-solid opened #123 "Need to add line breaks in toast - \n and <br /> doesn't work. Any way to do this?"
Tried a few things, as described in title, but has no effect.

[2017-05-05 09:58] NoZiL opened #124 "[Question] Breaking change v6"
Hi,
Nice work here. I am currently in v5 and I am trying to upgrade to v6. I have trouble finding what are the BCs since my action (ADD) is dispatched but not showed anymore.
Could it be a change in CSS (I have customized it) ?
Cheers

[2017-05-05 10:54] diegoddox commented on #124
Hi thanks a lot,
I'm sorry for that but this is because there is a bug on the `BCs`, you need to specify a position else it will not appear and yes you do need to upgrade the `css` if you're not importing directly from the src folder.

[2017-05-05 10:55] diegoddox commented on #122
Hi, You can pass a `react.component` in that case.

[2017-05-05 10:56] #122 closed, assigned to nobody

[2017-05-05 11:10] diegoddox commented on #123
If you wanna add line breaks you will have to pass a custom component and in your component you can use [dangerouslySetInnerHTML](https://facebook.github.io/react/docs/dom-elements.html#dangerouslysetinnerhtml)

[2017-05-05 11:10] #123 closed, assigned to nobody

[2017-05-05 13:40] NoZiL commented on #124
Ok, got it. It is a bug, by passing my position it all works (with small scss overriding).

[2017-05-06 01:09] pablen opened #125 "Use a different classname convention"
Hello and thanks for such a nice package! I have a minor request.

I've been using the package for around a year and now I updated it and found some new classnames that conflict with my current theme. In particular inside the `.toastr-[position]-container` element I notice new `.title` and `.message` elements with no `toastr-` namespace. I think both `.title` and `.message` classnames are too gene

[2017-05-08 07:45] diegoddox commented on #125
Hi @pablen,

Thanks a lot, yes I can du that!

[2017-05-11 11:42] MethodenMann commented on #124
Could you please specify the solution a bit. I also cant see my toastr after upgrading from 5.0.0 to 6.0.0. I have a position set:
  position="top-left"

[2017-05-11 14:34] NoZiL commented on #124
I am using toastr by passing actions, when you build your toastr object, you need to pass the position to it (it's seems that the default position is not used).
e.g:
[code]

Somewhere in component/container
[code]

Sorry for close/open...

[2017-05-16 18:42] rachitbhasin opened #126 "Anchor tags in toastrs"
How to add an anchor tag or for that matter add a HTML node to a toastr.

Use case: Be able to provide the user a link (or image to click on) in a toastr

[2017-05-18 14:55] JFGHT opened #128 "Redux store path"
Hello,

I'm starting the installation of react-redux-toastr in a big project and I'm facing a problem: I cannot set the redux toastr reducer path dinamically.

**ReduxToastr.js**:
`toastr: state.toastr ? state.toastr : state.get('toastr')`

I don't want to have toastr in the store's root so, it would be a lot more generic if I were able to decide where should be the toastr located.

Thanks!

[2017-05-19 07:48] JFGHT commented on #44
This is happening to me only when I set the timeOut as an option.

[2017-05-19 07:57] JFGHT commented on #108
In my case, the toastr is not closing automatically if:

- You set the timOut option and you open it for a 2nd time.
- If you don't set the timeOut option but you put the mouse over it.

Using Chrome Version 58.0.3029.110 (64-bit), also happening in FF.

[2017-05-19 15:21] sjain-mi9 opened #129 "Error Icon svg path"
The path of error icon is defined to 24x24 whereas success icon and warning icon are around 32x32. It would be great if you could change your svg to scale to 32x32 so that the error icon looks same aligned as other icons.

[2017-05-19 18:41] likesalmon commented on #85
@dcmdestello

react-redux-toastr is written with ES7 features and must be processed by Babel. The default webpack configuration excludes the entire `node_modules/` directory, but you can override that for specific modules like this:

*internals/webpack/webpack.base.babel.js, line ~18*
[code]

Check out [this thread](https://github.com/webpack/webpack/issues/2031) for several alternative solutions.

[2017-05-22 15:59] rachitbhasin commented on #126
This feature already exists. By using the component property in the options object.
e.g.
[code]

[2017-05-22 15:59] #126 closed, assigned to nobody

[2017-05-22 19:50] rachitbhasin opened #130 "Ability to override global preventDuplicates"
**Issue:** When the options provided to the ReduxToastr include `preventDuplicates: true` , even though the options provided to the toastr while initiating a toastr has been provided options to have `preventDuplicates: false` it doesn't override the global setting.

**Example:** Global configuration in ReduxToastr  is set to  preventDuplicates: true
[code]

While firing the toastr override the pre

[2017-05-22 19:59] diegoddox commented on #130
Hi @rachitbhasin , We don't have `preventDuplicates` as a `toastr` option but I will add as a request.

[2017-05-22 23:50] TheSharpieOne commented on #109
https://github.com/gaearon/redux-devtools/issues/304#issuecomment-251715413 worked for me.

[2017-05-23 14:39] sjain-mi9 opened #131 "Delay when using custom icons."
Not sure if it is a bug or I'm using it wrong, but whenever I use a custom icon, the toast appears after around couple of seconds of delay. Is there a way to use our own icons at global level or we need to add that for each page?

[2017-05-23 17:21] rachitbhasin commented on #130
@diegoddox I have created a PR for this feature. Please review.
#132

[2017-05-26 11:16] ablbol opened #133 "can't import index.scss"
I created a new react project using create-react-app and installed react-redux-toastr following all instructions.  The toastr works fine if I use <link> but not when I try to import.
I tried this line (with and without the ~) in my index.scss
[code]

I tried this line from my index.js:
[code]

nothing seems to be working.  Here is my package.json:
[code]

Could you please point me in the right dir

[2017-05-27 10:10] diegoddox commented on #133
@ablbol, You may need to add some custom `Webpack` `config` for handle this kind of `import` or try this in your js file `require('style!css!sass!react-redux-toastr/src/styles/index.scss');`

[2017-05-27 15:57] ablbol commented on #133
I tried the require  and import and got the following message
[code]
I know that if I require css file, it will work because i am requiring other css files.  Right now, I am not working directly with webpack since create-react-app does so.
Thanks

[2017-05-27 16:08] diegoddox commented on #133
You will need to add the [sass-loader](https://github.com/webpack-contrib/sass-loader) in your `webpack config`, take a look at this [issue](https://github.com/facebookincubator/create-react-app/issues/99)

[2017-05-27 16:08] #133 closed, assigned to nobody

[2017-05-29 09:01] diegoddox commented on #131
For sure this is not a bug, it can depend on how you're importing/adding these icons to your application and no there is no way to add custom fonts to the module at the moment

[2017-05-29 17:48] #130 closed, assigned to nobody

[2017-05-29 17:57] diegoddox commented on #124
The default position should be fixed in the next version

[2017-05-29 17:57] #124 closed, assigned to nobody

[2017-05-29 17:59] diegoddox commented on #121
This should be fixed in the next version.

[2017-05-29 17:59] #121 closed, assigned to nobody

[2017-05-29 18:00] #119 closed, assigned to nobody

[2017-05-29 18:02] diegoddox commented on #105
I'm not able to reproduce, you may some difference in your `toastr`, I will close if you're still having this issue fell free to re-open.

[2017-05-29 18:02] #105 closed, assigned to nobody

[2017-05-29 18:03] #120 closed, assigned to nobody

[2017-05-31 03:59] fyodoriv commented on #121
Also had this issue, so far added the position to every action dispatch and it helped. Looking forward to a new version!

[2017-05-31 11:36] diegoddox commented on #121
@cbrwizard the next version is available.

[2017-06-01 14:54] thedrew12 opened #134 "The position prop isn't working"
[code]
I can't move the position of the Toastr, I've tried a different position, but it is always in the top left position, am I missing something? I've tried passing it in as a config option when calling the function, but that doesn't work. The rest of the props are working, transition, timeOut, etc...

[2017-06-02 07:55] diegoddox commented on #134
Hi @thedrew12, You're doing right I will take a look ASAP, thank you!

[2017-06-05 13:48] neocolmartin opened #135 "Dispatching the toastr actions directly prevents timeout from working"
I have a Redux action that (using `redux-thunk`) displays a toastr success notification after completing some ofther async work:

[code]

(The reason I want to do it this way is so I can keep all my logic for the "send" action together, where I can fairly easily unit test it - I only need to mock the async parts of the action and use `redux-mock-store` to check which actions such as `toastrActions

[2017-06-06 18:03] ovidiubuligan opened #136 "showCloseButton={false} has no effect"
Using the following config , the close button still shows:

[code]

[2017-06-08 14:06] ckpinguin opened #137 "Using animate.css from https://daneden.github.io/animate.css/ for animations?"
I have made a rudimentary test by pasting all your css together with animate.css and it seems to work out partially (so far I only tried `hinge` for the `transitionOut` for coolness sake).
I'm not good at SASS/SCSS, so you might give it a try and integrate those animations into your styles?

And THANKS for making this really nice toaster component. It is a breeze to use it with Redux and making my

[2017-06-09 11:55] diegoddox commented on #136
Hi @ovidiubuligan, thanks a lot, will take a look asap.

[2017-06-09 11:58] diegoddox commented on #137
Hi @ckpinguin thanks,
you don't need to include all the styles in the `animate.css` file, you can just include it in your project and it will work.

[2017-06-15 08:22] torkjels opened #138 "Mouse enter should not delay an explicit close click"
I posted an issue in November about `mouse enter` canceling close after you've clicked the X (https://github.com/diegoddox/react-redux-toastr/issues/76). It got more or less fixed in this commit (https://github.com/dcmdestello/react-redux-toastr/commit/a06bd5eb2f2b29e60f17e04a3cc438981c1d63ad), but I still feel the behavior is very annoying, and our users tend to complain about it.

What happpens

[2017-06-15 10:53] diegoddox commented on #138
Hi @torkjels thanks and yes it can be very irritated this kind of behavior, not sure when but will look asap

[2017-06-15 13:48] VincentN commented on #138
Noticed this too, thanks for taking a look @diegoddox!

[2017-06-19 22:57] cwalv opened #139 "reducer has side effects"
https://github.com/diegoddox/react-redux-toastr/blob/master/src/reducer.js#L72

the reducer shouldn't have side effects (http://redux.js.org/docs/introduction/ThreePrinciples.html)

[2017-06-21 14:29] VincentN commented on #135
@diegoddox, do you have any pointers for us for this use case? I hope you can find some time, next to every other day-to-day thing to do, to take a look. :-) Your work is very much appreciated!

[2017-06-22 13:48] rzueger opened #140 "Custom component for confirm box"
We need the ability to render a custom component in a confirm box instead of a simple text message (like this is already possible in the normal toastr box). In our specific case, we have to be able to render a title and there could be line breaks in the message.

Example:

[code]

We could add this new `component` prop for the confirm box and submit a pull request, if you're interested in this fea

[2017-06-22 14:09] rzueger opened #141 "Custom buttons for confirm box"
We need to be able to include additional buttons in a confirm box. In our specific case, we would need three buttons in total: "yes", "no", "cancel" (maybe with more expressive labels for each button depending on the actual use case).

Actually, we didn't come up with a good idea yet, how this could be integrated in the confirm box. Maybe something like this:

[code]

We could implement this featu

[2017-06-22 15:52] diegoddox commented on #140
Hi @rzueger thanks, you're very welcome to create a pull request.

[2017-06-22 16:12] JFGHT commented on #125
This is actually critical. I had to modify my CSS in order to avoid conflicts.

[2017-06-23 08:51] #137 closed, assigned to nobody

[2017-06-23 08:51] #140 closed, assigned to nobody

[2017-06-23 08:55] diegoddox commented on #136
@ovidiubuligan you cannot specify the `showCloseButton ` at the global level, you will have to add on each `toastr`.
ex:
[code]

[2017-06-23 08:55] #136 closed, assigned to nobody

[2017-06-23 09:01] diegoddox commented on #131
I will close but feel free to re-open in case you have further questions.

[2017-06-23 09:01] #131 closed, assigned to nobody

[2017-06-27 07:34] IvanCoronado commented on #135
I have same problem here... but when I dispatch the same action twice

@neocolmartin If you need a workaround I fixed it by now with:
`
import { bindActionCreators } from 'redux';
import { actions as toastrActions } from 'react-redux-toastr';

export function send() {
  return dispatch => {
    const toastr = bindActionCreators(toastrActions, dispatch);

    toastr.add({
      id: 'INFORMATION_SUB

[2017-06-27 10:52] JFGHT commented on #135
Same here. Having this issue after a 2nd dispatch.

[2017-07-03 23:02] lagunovsky commented on #128
You can use this method
[code]

[2017-07-05 18:05] sh4d1t0 opened #145 "Problems with ExtractTextPlugin"
I have problems with [ExtractTextPlugin](https://github.com/webpack-contrib/extract-text-webpack-plugin), I have this issue:

I was imported like this:

`import "!style-loader!sass-loader!react-redux-toastr/src/styles/index";`

And know I have this new issue:

[2017-07-06 06:44] diegoddox commented on #145
Hi @sh4d1t0,
can you provide a snapshot of your `webpack.config` file?

[2017-07-06 16:31] sh4d1t0 commented on #145
@diegoddox yes
[code]
Well I solved, I added css-loader too into sass-loader in my index.es6 (or index.js or .jsx), just like this:

[2017-07-11 11:43] slaweet opened #146 "Add support for transitionIn="bounceInUp" transitionOut="bounceOutDown""
Currently supported`transitionIn="bounceInDown"  transitionOut="bounceOutUp"` work well for `position="top-*"` but looks weird for `position="bottom-*"` as it slides over the whole screen instead of just from the closer bottom edge of the screen.

[2017-07-11 12:29] diegoddox commented on #146
Hi @slaweet thanks, I'll take a look.

[2017-07-13 01:29] abdalla opened #147 "Size Prop - Error"
I'm getting the error below:
Warning: Failed prop type: Invalid prop `size` of type `number` supplied to `ReduxToastrIcon`, expected `string`.
    in ReduxToastrIcon (created by ToastrBox)
    in ToastrBox (created by ReduxToastr)
    in span (created by ReduxToastr)
    in div (created by ReduxToastr)
    in span (created by ReduxToastr)
    in span (created by ReduxToastr)
    in ReduxToastr (cr

[2017-07-13 07:27] kulmajaba opened #148 "ReduxToastr class prop options not used"
While I was rewriting @types/react-redux-toastr types I noticed an `options` prop defined in the `ReduxToastr` class propTypes. However I don't see this prop used anywhere or any documentation regarding how to use it.

Should the propType be removed or am I missing something?

[2017-07-15 21:57] diegoddox commented on #147
You're using `typescript` I'm not the one that is updating the `types`.

[2017-07-15 23:30] abdalla commented on #147
Nops..

I'm using React + vanillajs.

I could noticed that the value there is 32, I believe it can be easily fixed putting it in a quote. But I'm not sure what it will impact.

Thank you for the answer!

[2017-07-20 23:53] diegoddox commented on #147
Ok will look asap.

[2017-07-26 22:52] tomasztomys opened #150 "Not working at react v16.beta1"
[code]

[2017-07-27 13:20] cescoferraro commented on #150
@diegoddox I think we need this
https://github.com/reactjs/react-transition-group/tree/v1-stable

[2017-08-03 01:45] gabrielferreiraa opened #152 "Module not found to style"
[ERROR]  Module not found: Error: Can't resolve 'modules/react-redux-toastr/lib/css/react-redux-toastr.min.css'

In my code:
`import 'modules/react-redux-toastr/lib/css/react-redux-toastr.min.css'`

just `modules` because I have alias webpack, but dont work with `/node_modules/` too

Why ? Not understand

[2017-08-03 02:55] abdalla commented on #147
Closing this issue, I figured out what was happening and definitely the problem was not with the toastr.

[2017-08-03 02:55] #147 closed, assigned to nobody

[2017-08-03 06:04] diegoddox commented on #147
Thanks!

[2017-08-03 06:09] diegoddox commented on #152
You may wanna use `require` when importing from `node_modules`
ex: `require('!style!css!react-redux-toastr/lib/css/react-redux-toastr.min.css')`

[2017-08-03 06:12] #150 closed, assigned to nobody

[2017-08-03 14:42] socrat3z opened #154 "TransitionOut stopped working for version 7.1.1"
While using 7.1.1 when toast going to close an error occurs. Seems to have some problem with TransitionGroup.
Version 7.0.0 works as expected.

[2017-08-03 15:46] soapnrope commented on #154
![image](https://user-images.githubusercontent.com/6512443/28930407-8bb68d3a-787b-11e7-93bc-2a910facea16.png)

This is the error I get with 7.1.1. Downgrading to 7.1.0 fixes the issue. Frankly issue started when I upgraded something in my package.json file, but sadly I'm unable to trace which packages breaks this one(if thats even a case)

[2017-08-03 17:59] gabrielferreiraa commented on #152
Change error !!
![error](https://user-images.githubusercontent.com/17201177/28935893-515bb9e0-785c-11e7-9362-cd4adc751d05.png)

[2017-08-04 06:35] diegoddox commented on #152
`require('!style-loader!css-loader!react-redux-toastr/lib/css/react-redux-toastr.min.css')`

[2017-08-04 06:48] diegoddox commented on #154
@socrat3z and @soapnrope thanks will look asap!

[2017-08-04 06:49] #145 closed, assigned to nobody

[2017-08-04 06:49] #141 closed, assigned to nobody

[2017-08-05 19:28] vanhonit commented on #154
I just found you use addEndEventListener and removeEndEventListener from react/lib/ReactTrasitionEvent but in the CSSTransitionGroup didn't have that event.

[2017-08-07 05:50] shengnian commented on #154
+1

[2017-08-07 06:33] diegoddox commented on #154
This should be fixed in the latest.

[2017-08-07 06:33] #154 closed, assigned to nobody

[2017-08-07 06:36] diegoddox commented on #152
Works for you?

[2017-08-07 06:36] diegoddox commented on #152
I will close but feel free to re-open if necessary.

[2017-08-07 06:36] #152 closed, assigned to nobody

[2017-08-07 15:04] Geczy commented on #154
When can this be released (versioned)?

EDIT: Receiving this issue in 7.1.3 still

`[react-redux-toastr] The toastr box was closed automatically, please check 'transitionOut' prop value`

[2017-08-07 15:57] Geczy opened #156 ""please check 'transitionOut' prop value""
`[react-redux-toastr] The toastr box was closed automatically, please check 'transitionOut' prop value`

Using 7.1.3

Using toastr.confirm(), clicking OK or Cancel shows this message. Same with any .success() etc events

Clicking OK on the modal, removes the dialog, but keeps the backdrop for 4 seconds or so, then removes it and shows this warning in console

[2017-08-07 16:26] gabrielferreiraa commented on #152
Yaaaa, success :D Thx!!

[2017-08-08 05:48] diegoddox commented on #156
Are you using a custom CSS class for the `transitionOut `?

[2017-08-08 12:03] Geczy commented on #156
I'm not. I'm using default props

[code]

I also tried adding the default props to it like in the readme and it didn't fix anything

[code]

[2017-08-08 12:04] diegoddox commented on #156
Thanks @Geczy, I will look asap!

[2017-08-08 14:09] vagonzalez commented on #156
Same issue

[2017-08-08 14:20] dmurawsky commented on #156
Same here, my settings were:
[code]

[2017-08-08 16:13] dmurawsky commented on #156
Looks like, for me, it was caused by the [`maxAnimationDelay` ](https://github.com/diegoddox/react-redux-toastr/blob/2662ac8c5ef4c4e055d4dd0594c1bd1afbd33939/src/config.js) in the [`onCSSTransitionEnd `](https://github.com/diegoddox/react-redux-toastr/blob/2662ac8c5ef4c4e055d4dd0594c1bd1afbd33939/src/utils.js#L98-L105) util function

[2017-08-08 16:41] Geczy commented on #156
How so?

[2017-08-09 06:02] dmurawsky commented on #156
Did you look at the code @Geczy?

[2017-08-09 07:40] diegoddox commented on #156
My bad guys, I was using `transitioned` instead of `animationend`.

[2017-08-14 11:30] diegoddox commented on #148
Thanks @kulmajaba !

[2017-08-14 11:30] #148 closed, assigned to nobody

[2017-08-16 13:12] ydagana opened #158 "is removeOnClick removed ?"
I'm trying to achieve a toastr that can be closed on click without having to add a close button, though it seems like the closeOnClick option is left out in this newest release.
Any idea how can that be achieved?

[2017-08-22 13:37] tnguven commented on #108
So don't we have any solution to this ???

[2017-08-23 00:29] saidkholov commented on #108
@gytisgreitai 's solution is the only workaround I know. @immutablelist

[2017-09-07 10:59] torkjels opened #159 "Option to extend or replace the ReduxToastr options"
This isn't a bug as much as it is a feature request.

When I set the toastr settings in the app root like such:

[code]
The options set here in ReduxToastr are _replaced_ rather than _extended_ in the toastr.confirm function.
In the confirm function (toastrEmitter.js lines 45-50)
[code]
you can see that the arguments are either none (undefined), or the ones passed to the confirm function itself. T

[2017-09-12 10:35] khoaanh2212 opened #160 "toastr continue fire after action destroy run"
I have a page login use redux saga,when i login failed,i run a toaster error,and after that i saw redux run action destroy toastr,but after that,when i login success and push to dashboard page,toastr continue show the toastr error which one is destroyed.
[code]

[2017-09-12 12:30] diegoddox commented on #160
I will not recommend using the `toastr` in your `generator function`, why you don't add the `toastr.error` on the `login-view`?

[2017-09-12 16:29] khoaanh2212 commented on #160
I tried with `toastr.error` on the `login-view` not in the `generator function` but the error are the same

[2017-09-13 06:09] diegoddox commented on #160
Okay thanks, will take a look asap.

[2017-09-18 13:53] GustavoMantuan commented on #135
@neocolmartin  Dont know if your problem got resolved, but in my situation I made this:

[code]

Then in my high order component,

[code]

[2017-09-19 11:22] diegoddox commented on #160
Take a look at [this](https://github.com/gaearon/redux-devtools/issues/304#issuecomment-251715413) issue and see if is related.

[2017-09-19 11:26] diegoddox commented on #109
@kristian-elder are you still having this issue?

[2017-09-19 11:30] kristian-elder commented on #109
Same as TheSharpieOne, applying https://github.com/gaearon/redux-devtools/issues/304#issuecomment-251715413, together with another change that re-injected reducers unnecessarily, has fixed it for us - we are no longer having the problem.

[2017-09-20 19:04] diegoddox commented on #109
Thanks!

[2017-09-20 19:04] #109 closed, assigned to nobody

[2017-09-20 19:05] diegoddox commented on #160
Take a look at this #109 issue.

[2017-09-23 08:00] jchapelle opened #161 "Location change redispatch REMOVE action and displays a toastr"
When X toastr are displayed in my app, then if a change location, r REMOVE action are dispatched a second times and r toastrs are displayed on the screen

[2017-09-26 10:12] khushi511 commented on #134
Facing Same Issue. Can you resolve It ASAP?

[2017-09-26 17:24] williamboman opened #162 "Programmatically close a toastr"
Is it possible to programmatically close a toastr, e.g.;

[code]

[2017-09-27 06:58] diegoddox commented on #162
Not with the `emitter`, only if you use the `bindActionCreators`.
Take a look at the `readme` file.

[2017-09-27 09:55] patvdleer commented on #106
This may help others.

change
`const rootReducer = combineReducers({
  routing: routerReducer,
  toastrReducer,
});`

to:
`const rootReducer = combineReducers({
  routing: routerReducer,
  toastr: toastrReducer,
});`

[2017-09-27 14:16] williamboman commented on #162
Thanks!

[2017-09-27 14:16] #162 closed, assigned to nobody

[2017-09-29 08:05] diegoddox commented on #134
I'm not sure when but I will take a look.

[2017-10-04 11:38] zeeshan09 commented on #156
I'm using the latest version of react-redux-toastr, I'm still getting the error and toastr is not being displayed.

`<ReduxToastr
      timeOut={6000}
      newestOnTop={true}
      preventDuplicates
      position="top-right"
      transitionIn="fadeIn"
      transitionOut="fadeOut"
      progressBar
   />`

[2017-10-05 08:20] khoaanh2212 commented on #160
@diegoddox thanks,it works well.

[2017-10-05 08:31] khoaanh2212 opened #163 "start point of progress bar doesn't start at right-bottom point"
start point of progress bar doesn't start at right point,can we edit it? and let it start at right-bottom point?

[2017-10-05 23:56] #160 closed, assigned to nobody

[2017-10-05 23:58] diegoddox commented on #163
No, you cannot edit.

[2017-10-05 23:58] #163 closed, assigned to nobody

[2017-10-06 00:10] diegoddox commented on #161
Hi @jchapelle sorry for my later reply, what you mean by changing location, can you post some examples?

[2017-10-06 06:22] jchapelle commented on #161
That's ok, I've finally found the solution in a previous issue. This was
related to the react boilerplate I use and more specifically to the replace
reducer function. Disabling the hrm did the trick !

On Fri, Oct 6, 2017 at 2:10 AM, Diego Oliveira <notifications@github.com>
wrote:

--
Jean Chapelle

[2017-10-06 08:24] #161 closed, assigned to nobody

[2017-10-10 10:50] rajsek commented on #138
we also face the same issue.
When will be the issue get fix?

[2017-10-10 13:28] larsts commented on #133
I realize this is an old question, but I ran into similar issue.
Could he not circumvent sass-loader and import the minimized css directly from lib\css?

I.e. add this line in the .js file:
`import "react-redux-toastr/lib/css/react-redux-toastr.min.css";`

[2017-10-11 12:09] diegoddox commented on #133
@larsts Try this `require('style!css!react-redux-toastr/lib/css/react-redux-toastr.min.css')`

[2017-10-11 12:10] diegoddox commented on #138
I do not have time this year, maybe you could give me a hand ;)

[2017-10-12 21:16] amorris-apex commented on #85
@dcmdestello one more thing:

In **webpack.base.babel** you need to swap `main` and `jsnext:main` in the `resolve.mainFields` array like this:

`mainFields: ['browser', 'main', 'jsnext:main'],`

See [this answer](https://github.com/react-boilerplate/react-boilerplate/issues/1569#issuecomment-280223836).

[2017-10-25 14:44] padsbanger opened #165 "Removing toastr by id not working ?"
[code]

Hello, I am building simple notifiaction system. When users sees the notification it can click on it, and it will close & redirect to the specific view. I am trying to close toastr by adding ID to it and removing with onClick, but it doesnt seem to work.

Any ideas ?

[2017-10-26 17:27] paulincai opened #166 "Version in Git different than NPM ?!"
The package.json of 7.1.5 has the following dependencies:
`"peerDependencies": {
    "react": "^0.14 || ^15.0.1",
    "react-redux": "^4.0.1 || ^5.0.1",
    "redux": "^3.0.5"
  }`

No react ^16.0.0 mentioned in the NPM.

Console shows: **npm WARN react-redux-toastr@7.1.5 requires a peer of react@^0.14 || ^15.0.1 but none was installed.**

[2017-10-27 23:34] diegoddox commented on #166
Thanks, fixed in the next v

[2017-10-27 23:34] #166 closed, assigned to nobody

[2017-10-30 12:24] ashfaqrafi commented on #44
what should I change here to set timeOut to never
`<ReduxToastr
            timeOut={4000}
            newestOnTop={false}
            preventDuplicates
            position="top-right"
            transitionIn="fadeIn"
            transitionOut="fadeOut"
          />`

[2017-10-31 07:53] diegoddox commented on #44
@ashfaqrafi  `timeOut={0}`

[2017-10-31 16:55] justinpincar commented on #108
Hey folks, there's a bug in the processing of the `@keyframes` directive in animation.scss - the animation name is mangled according to preprocessor rules, even though it was wrapped in a :global declaration.

I suggest copying the scss files to your project and importing like this:
[code]

And then change animations.scss for each `@keyframes` directive:
[code]

[2017-11-27 12:52] danmo opened #167 "Styling Toastr"
Hi, is there any way for dynamically changing styles of a specific toast message.

In some cases I have a huge text to display which sadly overflows. Only for some messages I would like to  add more css styling such as greater width.

[2017-11-27 17:08] danmo commented on #167
For whoever needs something like this, for now the simplest solution was to pass it a custom component,on didMound/willUnmount callbacks lookup the parent and set custom styling/remove custom styling.

[code]
[code]

[2017-11-28 10:40] copycut opened #168 "Use display flex in place of floats"
# Use display flex in place of floats

That will allow you to center vertically the content independently of the content size.

https://github.com/diegoddox/react-redux-toastr/blob/d41d5c37ff583a3c823d7257f7710404e1ba400c/src/styles/index.scss#L126

<img width="384" alt="screen shot 2017-11-28 at 11 23 24" src="https://user-images.githubusercontent.com/612718/33315270-85b16f52-d430-11e7-910a-bbf4a

[2017-11-29 02:55] diegoddox commented on #168
Thanks @copycut , maybe you can give me a hand on that ;) PR's are very welcome

[2017-11-29 13:04] sashberd opened #169 "cdnjs hosting"
Hi @diegoddox
We would like to [host ](https://github.com/cdnjs/cdnjs/issues/10642)you library on cdnjs
What files we should add?

[2017-12-04 00:06] diegoddox commented on #167
Have you tried the `message` method? this one you can use in case you need to display a huge amount of text

[2017-12-04 00:11] diegoddox commented on #165
Hi @padsbanger sorry for my later reply, there is a bug while using the actions and not the emitter, but for the moment there is no solution for this.

[2017-12-04 00:15] diegoddox commented on #169
This is not possible at the moment, the build folder is not included in the repo.

[2017-12-06 13:11] justsudheerpaliwal commented on #134
@thedrew12 @khushi511 might have to do something with the included css. Have you correctly imported them?

[2017-12-11 10:33] MethodenMann opened #170 "attention shadow click"
To show a toastr that should prevent the user from doing anything else as long as the task is in progress (toastr is shown) we use the attention property. By default, a click on the shadow removes the toastr. We like to enhance redux-toastr to prevent this so that the toastr is kind of blocking.

proposal: function property `onAttentionClick` (or onShadowClick, onBackgroundClick?) that by default

[2017-12-11 13:32] diegoddox commented on #170
Spunds great, you are more than welcome!

[2017-12-11 17:10] Nantris commented on #133
@larsts solution works for me. none of the others did, despite having `sass-loader` configured.

[2017-12-11 17:21] Nantris commented on #135
@GustavoMantuan can you elaborate on your solution? I'm not quite sure what your solution is but I sure would like to be able to dispatch actions directly.

[2017-12-11 17:25] Nantris commented on #135
A viable solution to this seems to be to simply ditch the `progressBar` attribute if you don't need it. The error seems to be related to `progressBar` requiring a duration/timeout (I forget the exact wording.)

EDIT: This doesn't seem to work consistently unfortunately.

[2017-12-29 14:44] tomasztomys opened #172 "Change type of toastr"
Feature of changing type of toastr by id (e.g. from info to error)

[2017-12-31 06:36] diegoddox commented on #172
Hi @tomasztomys , I'm sorry but I don't think this feature is relevant to the repository.

[2017-12-31 06:36] #172 closed, assigned to nobody

[2017-12-31 06:37] #170 closed, assigned to nobody

[2018-01-01 22:11] eugeneglova opened #173 "Different behaviour when use `actions.add()` and `toastr.success()`"
**The problem:**
When I use `actions` instead of regular `toastr` I can't use default options which automatically added here
https://github.com/diegoddox/react-redux-toastr/blob/master/src/toastrEmitter.js#L5
https://github.com/diegoddox/react-redux-toastr/blob/master/src/utils.js#L65

and in this case I lost some features like creating timeout again when mouse leave here
https://github.com/diegod

[2018-01-03 15:15] jayfunk commented on #173
Agreed. It appears when using the actions form of add some options are ignored:
[code]

In this case position is ignored when placed inside the `options` field where if moved up to the root of the configuration it is now read. The docs do not outline what the expected API is for an action object vs the `toastr.add` call.

[2018-01-06 11:18] diegoddox commented on #173
Thanks @eugeneglova, this is more or less related to #135 and the issue may be because the actions are not using the same [helper](https://github.com/diegoddox/react-redux-toastr/blob/master/src/utils.js#L53) function as the `toastr.emitter`

[2018-01-06 11:19] diegoddox commented on #135
Please follow this one now #173

[2018-01-06 11:19] #135 closed, assigned to nobody

[2018-01-06 11:23] diegoddox commented on #168
will close but fill free to make a pr if you wanna it ;)

[2018-01-06 11:23] #168 closed, assigned to nobody

[2018-01-06 11:24] diegoddox commented on #167
will close but feel free to re-open in case u needed.

[2018-01-06 11:24] #167 closed, assigned to nobody

[2018-01-06 11:26] diegoddox commented on #158
Apologize me for the later reply, is this still relevant to you @ydagana ?

[2018-01-06 11:29] diegoddox commented on #146
Hi, will close but feel free to re-open in case you really think this feature is necessary, you're more than welcome to give me a hand and create a PR for it if you can <3

[2018-01-06 11:29] #146 closed, assigned to nobody

[2018-01-06 11:33] diegoddox commented on #139
Thanks @cwalv, I've added a comment to the code about it, I will not remove for now since this was to fix a very important bug.

[2018-01-06 11:33] #139 closed, assigned to nobody

[2018-01-06 11:34] diegoddox commented on #134
Are you guys still facing this issue?

[2018-01-06 11:38] diegoddox commented on #129
This should be fixed I think, will close but you can re-open in case u need

[2018-01-06 11:38] #129 closed, assigned to nobody

[2018-01-06 11:39] diegoddox commented on #125
this is fixed.

[2018-01-06 11:39] #125 closed, assigned to diegoddox

[2018-01-06 11:41] diegoddox commented on #128
will close but feel free to re-open in case you need.

[2018-01-06 11:41] #128 closed, assigned to nobody

[2018-01-20 21:47] thedrew12 commented on #134
Seems to be working for me now in a different project so I think its fine.

[2018-01-20 21:47] #134 closed, assigned to nobody

[2018-01-24 11:38] justsudheerpaliwal opened #174 "click handler when clicked on the toastr body."
I want to use this toastr to show notifications and hence need a click handler. Is there a way to do that??

[2018-01-24 14:06] diegoddox commented on #174
We don't have an `onClick` callback for the toastrOptions yet

[2018-01-24 17:25] febeck commented on #27
@diegoddox , I still have the same issue with project's css...

`Mixed Content: The page at 'https://xxxxxxx.com/login' was loaded over HTTPS, but requested an insecure stylesheet 'http://diegoddox.github.io/react-redux-toastr/7.1/react-redux-toastr.min.css'. This request has been blocked; the content must be served over HTTPS.`

[2018-01-25 00:55] diegoddox commented on #27
Apologize me @febeck but at the moment I think there are only two things you can do

1. import the style to your `react-application` and buddle it together
2. copy the entire `CSS` file and add to your server

[2018-01-30 14:24] febeck commented on #27
@diegoddox , thank you for your answer and sorry for the delay. Actually there is another way to solve this problem. I don't know if you were aware, but GitHub pages [have enabled https](https://github.com/blog/2186-https-for-github-pages) and therefore you can get the css via the `<link>` tag. So why not update the project README and also demo page to use it ?

[2018-01-31 00:10] diegoddox commented on #27
Thank you so much for the info @febeck, I will take a look.

[2018-01-31 00:18] diegoddox commented on #27
[Fixed](https://diegoddox.github.io/react-redux-toastr/7.1/react-redux-toastr.min.css)

[2018-01-31 00:18] #27 closed, assigned to nobody

[2018-01-31 15:09] tomzmtl opened #175 "Uncaught TypeError on transition end when component re-renders"
I'm getting the following error when a toastr is dismissed (manual and auto):

[code]

The `null` value here is `node` in `onCSSTransitionEnd`.

I think it is caused by the DOM element referenced not existing anymore at the time the toastr is dismissed. This issue started occuring when we started implementing a mix of toastr + view transition in our app. I figure the toastr node is being re-render

[2018-02-02 04:41] mriosb commented on #175
+1 I'm having the same issue.

react version: 16.2.0
browser = Chrome Mobile
browser.name = Chrome Mobile device = M250
device.family = LG-M250
level = error logger = javascript
os = Android 7.0
os.name = Android
transaction = react-redux-toastr/lib/utils in apply

`TypeError: Cannot read property 'addEventListener' of null
  at onCSSTransitionEnd (../node_modules/react-redux-toastr/lib/utils.js:1

[2018-02-02 05:41] diegoddox commented on #175
Ok thanks, will take a look ASAP

[2018-02-05 15:05] aranchafoz opened #176 "Add links on message"
Hi,
I'm trying to add some links, that redirect to another url of my application, inside toast message.
For that I use component prop of toastOptions:

![captura de pantalla 2018-02-05 a las 15 53 58](https://user-images.githubusercontent.com/14368971/35810699-e298e208-0a8c-11e8-8133-0bfca539b5ff.png)

For the development of my app I'm using React-Router, React-Bootstrap and React-Router-Bootstrap

[2018-02-06 00:26] diegoddox commented on #176
Hi @aranchafoz, sorry but at the moment is not possible to pass props.

[2018-02-13 17:01] atlanteh commented on #176
Actually your problem is that your toaster is placed outside your router. If you place it inside your router it should work.

[2018-02-13 17:22] atlanteh commented on #106
for me the issue was I did:
combineReducers({..., toaster: toastrReducer, });
toaster instead of toastr 😆

[2018-02-13 18:25] Razzwan commented on #175
The same on:

1. Mac OS X Version: 10.13.3,10.13.2; Chrome Version: 63.0.3239
2. Windows 10; Chrome Version: 63.0.3239
3. Windows 8.1; Chrome Version: 63.0.3239
4. Windows 7; Chrome Version: 64.0.3282

[2018-02-22 21:31] schtauffen opened #179 "No License listed"
I would like to use this module but no license is listed.

Can you add one please (hopefully a permissive such as MIT or ISC :))?

[2018-02-23 00:45] diegoddox commented on #179
Done!

[2018-02-23 00:45] #179 closed, assigned to nobody

[2018-03-01 11:46] valyefimov opened #180 "IE 11 error - Object doesn't support this action"
I'm getting the following error when a toastr is dismissed in IE 11, Windows 10.

![scn-2018-0301-134327-9ttaw](https://user-images.githubusercontent.com/1454782/36843116-8c7e3df0-1d56-11e8-8315-39a4c391c338.png)

To solve the problem and may use a cross-browser event creation like this one:
[code]

[2018-03-07 19:37] frankrod commented on #173
what was the solution for this?
I'm having the same issue I looked at #135 and see no solution either.

[2018-03-09 01:40] diegoddox commented on #173
Hi @frankrod I didn't have the time to fix yet

[2018-03-09 01:42] diegoddox commented on #180
Hi @vefimov thanks, a PR is more than welcome!

[2018-03-20 18:40] tarim commented on #150
I added react transition group, but it still doesn't work. Same issue again. Any idea?

Thanks,

[2018-03-29 06:59] khoaanh2212 opened #182 "Error with toastr.info"
toastr.info take an error when try render component as messages.The old version works,but new version does not work.

[2018-03-29 07:46] #182 closed, assigned to nobody

[2018-04-03 09:33] shifubrams commented on #175
+1 same here
[code]

do you have an idea about when it will be fixed ?
thanks :)

[2018-04-05 07:12] diegoddox commented on #175
Unfortunately, I'm quite busy at the moment and I will not be able to prioritize/fix this issue

[2018-04-11 10:20] Thebigbignooby opened #184 "usage in Epics (with Observables)"
does this library provide the action creators ?
In some cases, I want do not want to dispatch the actions straight away, but will leave that to the epics.

[2018-04-11 12:39] #184 closed, assigned to nobody

[2018-04-11 12:45] Thebigbignooby opened #185 "TypeError: Cannot read property 'preventDuplicates' of undefined"
[code]

this works fine if I dispatch one action only, but if I trigger this epic multiple times, my app crashes with the error message in the title of this issue.

is this a bug or am I doing something wrong ?

[2018-04-11 13:08] Thebigbignooby commented on #185
solved it by removing `preventDuplicates` in the `<ReduxToastr />` component .... but maybe there is something going here ?

[2018-04-14 13:03] diegoddox commented on #185
Thanks @Thebigbignooby I will take a look.

[2018-04-16 09:47] venuverse commented on #62
any updates on this issue? I think the way it's closed is not right

[2018-04-16 11:12] diegoddox commented on #62
Hi @Venugopal46, unfortunately, we're not going to fix this issue since the fix for it will cause other issues, that's why we've closed it.

[2018-04-24 05:33] piohan83 opened #186 "Update your package.json for redux@4.0.0"
you should update your package.json.
redux 4.0.0 released!!

when using with redux@4.0.0, 'npm ls' remain this error
![image](https://user-images.githubusercontent.com/807184/39167851-48d5ec06-47cc-11e8-8d14-a8ea69de147a.png)

[2018-04-25 06:45] jacoporicare commented on #186
Maybe you can create a pull request and help the author?

[2018-04-25 07:07] piohan83 commented on #186
@jacoporicare
In my code, It doesn't have problem yet, so we dont need fix other code.
I just fix package.json that include redux@4.0.0 in peerDependencies. thanks

[2018-04-25 09:43] gaithoben opened #188 "Toastr on top of Material-UI Dialog"
The [Material UI Dialog](https://material-ui-1dab0.firebaseapp.com/demos/dialogs/) zIndex is so high that the toastr. How can i make the toastr appeat on top of the dialog?

[2018-04-27 15:21] echarles commented on #156
Same error here. Probably due to local env? Anyone got a fix?

[2018-05-19 23:43] CameronFraser opened #189 "state.get is not a function"
When using redux-persist the react-redux-toastr package throws the following error:
`state.get is not a function`

Minimal example demonstrating error:
https://codesandbox.io/s/3q8zlw9wkm

[2018-05-23 08:46] diegoddox commented on #189
Thanks, not sure when I will be able to look at it.

[2018-05-23 17:48] bbr0wn opened #190 "No buttons in confirm window in IOS."
Don't see any buttons using the toastr confirm method on an IOS device. For example

            const options = {
                okText: "Yes",
                cancelText: "No",
                onOk: () => { console.log("Ok Clicked"); },
                onCancel: () => { console.log("Never mind") },
            }
            toastr.confirm("Do you see any buttons on an IOS device?", options);

d

[2018-06-04 14:26] JoshMcCullough opened #191 "Configure root ReduxToastr element per severity."
Is there an option to supply specific configuration based on severity? E.g., set some default config and then override based on severity...

[code]

Above, any toast would timeout in 4 seconds unless it is of _error_ severity, in which case it would not timeout and require user interaction.

[2018-06-04 16:05] JoshMcCullough commented on #135
FYI I guess it's `timeOut` instead of `timeout` (different cases are used in the comments within this issue). But neither option seems to work for me ... ?

[2018-06-05 02:50] diegoddox commented on #191
Hi, not at the moment.

[2018-06-05 03:28] JoshMcCullough commented on #191
I noticed that setting `timeOut` (note the case) doesn't seem to have any affect. Is this a known issue or am I doing something wrong ...

[code]

[2018-06-06 06:38] ofir-shapira-como opened #193 "Feature Request - Allow to specify removeOnHover timeout interval"
Feature Request - Allow to specify removeOnHover timeout interval, instead of hard coded 1000ms

Implemented in: https://github.com/diegoddox/react-redux-toastr/pull/192

[2018-06-10 04:11] #193 closed, assigned to nobody

[2018-06-10 04:18] diegoddox commented on #191
You're doing right, I'm not sure if we already have an issue on ti.

[2018-06-11 08:13] liuliquan opened #194 "Feature request: close toastr on clicking"
Some users have habit to close a toastr by clicking it (not only through the close button, but also the entire toastr div), it will be kind to support this feature.

[2018-06-11 13:35] diegoddox commented on #194
Sure, just need to think how this has to work when we do have the close button displaying

[2018-06-22 11:30] tonoslav commented on #180
Why is this still not fixed ?

[2018-06-22 11:39] tonoslav commented on #180
What about to use polyfill like this https://github.com/krambuhl/custom-event-polyfill

[2018-06-29 19:30] crobinson42 opened #196 "React.StrictMode warnings"
[code]

[2018-07-01 03:43] bmoquist commented on #165
@padsbanger - months later.... but there is a solution --- you forgot to dispatch the remove.

Here's how I've been handling it:
I only use the toastrActions.add() action, and unfortunately, the close button doesn't work well with this method  -- it only closes after the mouse leaves the toastr (which is baffling to the user since it doesn't actually close on the click -- and results in the user t

[2018-07-11 11:03] brumargues commented on #189
@kamfraser I found that you need to import as `toastr` object instead of `toastrReducer` when adding the reducer.

**It fails on React v16**
`import { reducer as toastrReducer } from 'react-redux-toastr'`

**It works on React v16**
`import { reducer as toastr } from 'react-redux-toastr'`

[2018-07-20 13:17] hugobessa commented on #194
I made a PR and just stopped the bubbling when clicking the close button. Do you think this is ok?

[2018-07-27 08:17] paddotk commented on #133
@diegoddox Where in the config file would I have to add the line `require('style!css!react-redux-toastr/lib/css/react-redux-toastr.min.css')`?

[2018-07-27 09:28] #194 closed, assigned to nobody

[2018-07-27 09:39] diegoddox commented on #133
Hi @paddotk,
You will only be able to do that if you're using Webpack and if so add it on the main file of your project.

[2018-07-27 09:41] diegoddox commented on #165
A pr that may fix this issue #197 was merged.

[2018-07-27 09:41] #165 closed, assigned to nobody

[2018-07-31 14:04] paddotk commented on #133
@diegoddox Thanks, but what I would like to know is where in this file to do so. I tried adding it directly in the `module.exports = {}` object but that doesn't work.

That said, I did find a workaround by adding `<link href="https://diegoddox.github.io/react-redux-toastr/7.1/react-redux-toastr.min.css" rel="stylesheet" type="text/css">` to my project's root html file. But this is not really the r

[2018-07-31 23:59] diegoddox commented on #133
@paddotk Include that code in the same file where you have your `ReactDOM.render`

[2018-08-02 09:50] paddotk commented on #133
Sorry, that doesn't work for me. Perhaps it's because of our application structure? Because it requires me to write it as `import 'style!css!react-redux-toastr/lib/css/react-redux-toastr.min.css'`, which gives me an error not knowing what 'style' is. `import 'react-redux-toastr/lib/css/react-redux-toastr.min.css'` doesn't give an error but doesn't work either.

[2018-08-05 01:52] diegoddox commented on #133
Is your project using Webpack, if so do you have added the css loader?

[2018-08-08 07:09] hagayl opened #198 "Click outside a confirmation toast to close it"
Isn't there an option to close (by configuration?) a confirmation dialog by clicking outside of it?
Something like an off-click?

[2018-08-11 13:03] diegoddox commented on #198
No we don't have that feature.

[2018-08-11 13:04] #198 closed, assigned to nobody

[2018-08-17 10:09] iwuvjhdva commented on #108
@justinpincar, thank you so much for the solution that works!

@diegoddox, thank you for the wonderful component, though I think it should be more flexible with custom styling, current approach basically doesn't work with Webpack that is used by the vast majority of users. Guess besides fixing the animations a better approach would be to add extra properties for custom class names, like for exampl

[2018-08-22 12:22] diegoddox commented on #108
Thanks @iwuvjhdva,
I do agree with you the only issue is that unfortunately, I cannot prioritize this at the moment.

[2018-08-22 15:21] snow-dev commented on #189
It works for me on v16.4.2, just create the reducer:
``
import {reducer as toastrReducer} from 'react-redux-toastr';
export default combineReducers({
    toastr: toastrReducer,
});
``

[2018-09-08 06:58] stevemao opened #200 "showCloseButton is not true by default"
Not sure if this is a bug or docs not updated yet. I'm using the lastest react-redux-toastr published on npm.

[2018-09-10 14:49] aaronbeall opened #201 "showCloseButtonOnHover"
Is there currently a way to show the close button only on hover? IMO this would would work well with `timeout`, where showing the close button seems a bit unnecessary, but once the user mouses over the toast there isn't a clear way to close it.

[2018-09-10 15:17] aaronbeall opened #202 "Option for no icon"
Having an icon is nice but in some cases you might not want one at all. In order to do this I had to pass in a CSS class that hid the icon and made the content container full size. It would have been nice if `icon` could simply be set to `null` or `"none"` (including with the `.success()`, `.info()`, etc methods).

[2018-09-10 16:53] aaronbeall opened #203 "title/message, component and preventDuplicates"
This is not a definite bug, more an API short-coming, and I don't have a well-defined solution (without breaking APIs) but I ran into this issue:

- I used the `preventDuplicates` option, it was just what I wanted.
- I used the `component` toast option to render some special content. For example just an image.
- I passed `""` for both `title` and `message` because there's no generic text with my s

[2018-09-20 04:57] jchapelle commented on #18
Hello, this is an old post but I've just installed the latest versions of react-redux-toastr and I'm getting the exact same error. I'm using the react boilerplate from https://github.com/react-boilerplate/react-boilerplate

[2018-09-26 13:30] goldbuick commented on #185
Figured out why this error occurs
when using preventDuplicates

`toastrActions.add({
  type: 'error',
  message: 'blap',
  position: 'bottom-center',
  options: {},
})`

when using preventDuplicates, it requires that you include options:{} in your toastr item

[2018-09-27 03:43] Thebigbignooby commented on #185
Ah, well I no longer work on the project where I used this, but good to
know for the future. Might be worth adding something to this effect in the
documentation

On Wed, 26 Sep 2018, 21:31 David Whitlark, <notifications@github.com> wrote:

[2018-10-08 07:50] nzhtrtlc opened #205 "How to Update Content Of Toast (Feature Request)"
Hi, is it possible to make something like that;

When i click a button a several request going to API then response back. I am displaying a toast message while this requests are in progress but i also want to update the content of toast message like;
"1 of 10 record saved"
"2 of 10" records saved"
"3 of 10" records saved"
...

If you don't have a feature like this then can you give me a tip to dev

[2018-10-08 11:45] nzhtrtlc commented on #205
I did something
https://drive.google.com/file/d/1vDEQtuJ7CIv3k9g5cESoXWunb8eZhZt_/view

I created a pull request.
https://github.com/diegoddox/react-redux-toastr/pull/206

[2018-10-12 07:14] diegoddox commented on #205
Hi @nzhtrtlc thanks I will take a look at it.

[2018-10-18 11:24] tonoslav opened #207 "Warning: Invalid value for prop `remove` on <div> tag"
Hello I sometimes get this error message:

    in div
    in div (created by ToastrBox)
    in div (created by ToastrBox)
    in div (created by ToastrBox)
    in ToastrBox (created by ReduxToastr)
    in span (created by ReduxToastr)
    in div (created by ReduxToastr)
    in span (created by ReduxToastr)
    in span (created by ReduxToastr)
    in ReduxToastr (created by Connect(ReduxToastr))

[2018-10-25 07:32] jayantbh opened #208 "Toast removal duration after mouse-out is short, and seemingly not configurable"
If you hover on a toast, and then mouse-out, the toast disappears in about a second. Can this be disabled or configured? Can the timer be just resumed from where it stopped using some option?

[2018-10-25 07:42] jayantbh opened #209 "Event listener and event dispatcher related console errors"
<details>
<summary>Error 1: Uncaught TypeError: Cannot read property 'addEventListener' of null </summary>

[code]

| onCSSTransitionEnd | @ | utils.js:145
| --- | --- | --- |
| _setTransition | @ | ToastrBox.js:349
| _removeToastr | @ | ToastrBox.js:333
| setTimeout (async) |   |  
| componentDidMount | @ | ToastrBox.js:150

</details>

<details>
<summary>Error 2: Uncaught TypeError: Cannot read

[2018-10-25 07:48] jayantbh opened #210 "Feature request: Slide-in/out (from left or right) animation support."
Hi! I'd take a moment to say that this is a really great project, and I hope this gets even better.

It would be really nice if it had slide-in/out animation support.
I believe it's not as _visually loud_ as the bounce animations, and is yet more attention grabbing than the fade in animation.

The MacOS and Windows notifications use Slide-In/Out too, just as examples for popular usage of notificat

[2018-10-27 13:36] tomiadebanjo commented on #156
I'm still having this issue

[2018-10-31 00:16] diegoddox commented on #209
@jayantbh there is a new release that should fix this issue.

[2018-10-31 00:17] diegoddox commented on #209
feel free to re-open if you still have this issue after upgrading.

[2018-10-31 00:17] #209 closed, assigned to nobody

[2018-11-05 03:18] diegoddox commented on #210
@jayantbh thanks, will keep in mind.

[2018-11-05 03:20] diegoddox commented on #208
at the moment no, you can't

[2018-11-05 03:20] #208 closed, assigned to nobody

[2018-11-28 10:54] jchapelle opened #212 "Duplicate toastr message"
I'm using the famous react-boilerplate from mxstbr with react redux and sagas.

Everything seems to work like a charm except that when I change location (go to another page), the toastr messages displayed in the previous page appears again.

The prevent duplicate option is properly setup in the ReduxToastr component.

I did activate redux logger.
I can see that toastr/add action is disptached when

[2018-11-29 04:23] #186 closed, assigned to nobody

[2018-11-30 14:11] ShepelievD commented on #212
the same issue with `next.js`

[2018-12-03 23:03] hLittle opened #214 "this.closeButton.focus() throws an error"
https://github.com/diegoddox/react-redux-toastr/commit/9b75b55b9fc1c2e2993a39a31eeeaae47683b8d9#diff-d22cbee4113c91156a6cde6132dd6908R78

Looks like this change was added recently to move focus to the close button, but it throws an error if the close button was not rendered.

The function renderToastr checks the option "showCloseButton" before rendering the close button, and this render function i

[2018-12-04 08:52] diegoddox commented on #214
Thanks @hLittle, @ceall I think this is related to your PR.

[2018-12-04 09:36] ceall commented on #214
Hi @hLittle @diegoddox , I hadn't considered a case where no close control would exist. I have just submitted a PR that considers that now

[2018-12-04 21:19] OriAmir commented on #214
happened to me also. there is some soultion ? tnx

[2018-12-05 03:39] #214 closed, assigned to nobody

[2018-12-05 15:36] NataSemka commented on #175
Hi. I'm having the same issue.

    at d (vendor.js?cb7e705e5b738f72d473:11)
    at t._setTransition (vendor.js?cb7e705e5b738f72d473:126)
    at t._removeToastr (vendor.js?cb7e705e5b738f72d473:126)

As @tomzmtl reported this error probably caused by the DOM element referenced not existing anymore at the time the toastr is dismissed.

Do you have any idea if it's could be fixed?
Thank you.

[2018-12-06 04:47] diegoddox commented on #175
I believe this issue is already fixed, can you please tell me which version you're using @NataSemka ?

[2018-12-06 16:48] keown opened #216 "npm package not updated"
Hi,
I don't know if this is the right place to report this but the compiled version of `ToastrBox` is not compiled with the last source code and it doesn't contain the closeButton fix.

https://github.com/diegoddox/react-redux-toastr/commit/4ea81f7e339f1f084f52de5b082df27a8959fe79

[2018-12-07 05:13] diegoddox commented on #216
Thanks @keown, I will take a look!

[2018-12-08 11:20] paulincai opened #217 "react-redux@6.0.0 is now out"

[2018-12-10 11:01] tomasztomys commented on #216
+1

[2018-12-10 16:26] thomasMary commented on #216
Hi @diegoddox is there any update on that? Thanks

[2018-12-11 14:26] CalvinMills commented on #214
Hi, I know this issue is closed, but I think I'm experiencing a similar issue on 7.4.4 on unmounting of the toastr.

![image](https://user-images.githubusercontent.com/6915748/49806730-5f20db80-fd50-11e8-9d9b-4239c4bcead8.png)

![image](https://user-images.githubusercontent.com/6915748/49806797-8081c780-fd50-11e8-9cc7-451236ae4ea2.png)

Im not raising the toast from a button click or component but

[2018-12-11 14:33] ceall commented on #214
@CalvinMills that's not what's in the src folder of 7.4.4

[2018-12-11 14:45] CalvinMills commented on #214
My apologies, the line number and syntax as a result of some webpack loader nuances, however the code is there in src:

![image](https://user-images.githubusercontent.com/6915748/49808000-5ed60f80-fd53-11e8-8f95-1bc1f28cf775.png)

[2018-12-11 16:17] CalvinMills commented on #214
@ceall I agree that it isn't in the src folder, it is, however, in the lib folder in the npm package which is the default directory for imports. Any way we can get that change put into the lib folder on the npm package ? Thanks again

[2018-12-12 00:21] dardanll commented on #214
It's happening to me as well

<img width="1017" alt="screen shot 2018-12-12 at 1 19 56 am" src="https://user-images.githubusercontent.com/14232700/49838706-41815f80-fdac-11e8-87cd-4d56fd4f38cd.png">

[2018-12-12 09:58] ghost commented on #216
Yeah. We're waiting for this fix too.
PS Merry Christmas.

[2018-12-12 10:49] ceall opened #218 "Update npm lib folder"
Hi @diegoddox

Looks like the lib folder in the npm module needs a new build

https://github.com/diegoddox/react-redux-toastr/issues/214

Kind regards

[2018-12-12 10:51] #218 closed, assigned to nobody

[2018-12-12 10:52] ceall commented on #218
Duplicate

[2018-12-12 10:52] ceall commented on #214
@dardanll @CalvinMills

https://github.com/diegoddox/react-redux-toastr/issues/216

[2018-12-12 10:56] CalvinMills commented on #214
@ceall  You da bomb.

[2018-12-12 15:10] thomasMary commented on #216
@ceall thanks for looking at this issue, we've noticed the "closeButton fix" has been done, and we can see it on master, however, the version in the `lib` folder on NPM still doesn't (version 7.4.4). Must be an issue with the way you publish this package.
(cc @diegoddox)

[2018-12-12 15:13] ceall commented on #216
Hi @thomasMary

I am not an admin on this project

[2018-12-13 17:46] 2f-concept opened #219 "Uncaught TypeError: Cannot read property 'focus' of undefined"
full message :
Uncaught TypeError: Cannot read property 'focus' of undefined  at ToastrBox.js:234

toast works great but I got this error

my package.json:
[code]

[2018-12-14 09:15] TsvetomirGeorgiev commented on #216
react-redux-toastr@7.4.5 is released and the cjs build seems to be correct. Cheers ;)

[2018-12-14 09:17] TsvetomirGeorgiev commented on #214
react-redux-toastr@7.4.5 is released and the cjs build seems to be correct. Cheers ;)

[2018-12-14 12:21] diegoddox commented on #219
This should be fixed on the latest version.

[2018-12-14 12:21] #219 closed, assigned to nobody

[2018-12-14 14:34] Xtinct commented on #205
@diegoddox, any updates on this? Very useful feature.

[2018-12-16 08:24] diegoddox commented on #205
@Xtinct this is not the first priority and I do believe that this feature goes beyond in what a Toastr should do.

[2018-12-20 14:43] koraydemirci commented on #219
I installed the latest version ("^7.4.5") but unfortunately the error is still there.

[2018-12-20 14:46] koraydemirci commented on #219
Hello, I installed the latest version ("^7.4.5") but unfortunately the error is still there.

[2018-12-30 21:40] Nantris commented on #135
Hope this helps someone. You need to use `timeOut` (note capitalization) AND you need to pass it under the `options` property.

[code]

[2019-01-02 14:51] zoe-mcelderry opened #220 "Warning: Function components cannot be given refs. Attempts to access this ref will fail."
I'm getting a warning in my console output since upgrading my application to react v16 and react-redux-toastr to v7.4.5.

This occurs when I use toastr.confirm -- it looks like it is the toastr confirmation buttons that are causing the issue.

[code]

[2019-01-03 05:45] diegoddox commented on #220
Thanks @zoe-mcelderry, not sure when I will be able to look at it.

[2019-01-03 11:09] zoe-mcelderry commented on #220
@diegoddox  No problem.  It doesn't appear to be causing us any major issues in terms of functionality, it's just disconcerting to get the warning in the console.

[2019-01-09 09:37] #217 closed, assigned to nobody

[2019-01-13 21:17] abdulmanan7 commented on #189
I am having similar issue ! any help

[2019-01-17 16:20] henriqueweiand commented on #220
i have too this problem

![captura de tela 2019-01-17 as 14 17 38](https://user-images.githubusercontent.com/6539492/51332555-1b15aa80-1a63-11e9-8f1e-7f14bcd545dd.png)

[2019-01-19 15:06] irvelervel commented on #220
Confirmed here as well.

[2019-01-21 17:01] tracker1 opened #223 "Cannot read property 'classList' of null"
Probably only because of hot module replacement in development builds, but may want to guard against the component reference before accessing children, just so that this kind of error doesn't bubble out.

[code]

[2019-01-27 09:57] rahadkc commented on #220
I am having same problem and my page is broken. Need a solution. Thanks for your great plugin.

[2019-02-13 06:49] KozhevnikovDmitry commented on #220
+1

[2019-02-13 13:56] Vadorequest opened #226 "Option not to escape HTML in message"
Is HTML escaped in the message by default?

I'm doing the following

[code]

which displays this:

![image](https://user-images.githubusercontent.com/3807458/52716608-6efeab00-2f9f-11e9-8b9c-3ffd77180e8d.png)

Am I doing something wrong? I'd assume using HTML within the message would be tolerated, maybe through a flag if not enabled by default for security reasons.

[2019-02-14 04:12] ben-bcn commented on #220
Same problem here

[2019-02-15 20:11] jozsefs commented on #226
Have you tried the component prop:

[code]

[2019-02-15 20:40] diegoddox commented on #226
Hi @Vadorequest, there is no`escapeHtml` option on any of the toasts methods and if you wanna use HTML tags you do need to use `dangerouslySetInnerHTML ` in your custom component.

maybe something like this.
[code]

[2019-02-17 09:38] Vadorequest commented on #226
Thank you both, I used the `component` option which is the intended/cleanest way.

[code]

[2019-02-17 09:38] #226 closed, assigned to nobody

[2019-02-17 09:50] Vadorequest commented on #226
It does generate a react warning though:

    in p (at SimulatorForm.js:80)
    in div (created by ToastrBox)
    in div (created by ToastrBox)
    in div (created by ToastrBox)
    in ToastrBox (created by ReduxToastr)

[2019-02-17 10:07] Vadorequest opened #227 "BUG - removeOnHoverTimeOut not applied properly"
This is either a bug or a misunderstanding of the `removeOnHoverTimeOut`.

[code]

**I'm setting `timeOut` and `removeOnHoverTimeOut` to accomplish the following behaviour:**
1. Validation error (form) happen, display a toast
1. Toast should be displayed 4 seconds per error field
1. If user hovers on the toast, the toast should keep being displayed, allow error message copy, timeout should pause d

[2019-02-22 06:41] shadowgroundz commented on #212
Same issue too

[2019-02-22 09:10] thibaultvdb-incerta commented on #227
Is this issue already being cared off? I'm having the same problem at the moment.

[2019-02-22 09:59] Vadorequest commented on #227
I doubt anyone addressed this issue yet @thibaultvdb-incerta :)

It doesn't block me since I used a workaround and didn't need a particular behaviour, but it may be more problematic in your case.

[2019-02-22 10:01] thibaultvdb-incerta commented on #227
@Vadorequest What workaround did you use then, if I may be so curious? :D

[2019-02-22 12:11] Vadorequest commented on #227
I mostly ignored the UX issue, if the use hovers on the toast then it'll hide too fast but can't do much about it without digging into the bug itself.

[code]

I'm contented with the following, wish it'd be better but it ain't that critical in my case

[2019-03-07 09:25] barrard commented on #214
Hi, I have the toastr emit successful form submission, and the toast causes the form to lose focus, can we prevent this set focus all together but still keep the close button?

[2019-03-11 02:46] kimmy commented on #220
+1

[2019-03-23 16:39] zachweinberg commented on #220
Same problem

[2019-03-28 11:41] learningassistant commented on #220
+1

[2019-03-28 13:04] ghost commented on #220
+1, @diegoddox any updates?

[2019-04-03 08:28] gangwar1 commented on #212
i am also facing same issue, i have used "react-redux-toastr": "7.4.0", version.

[2019-04-10 12:12] wings1yte commented on #219
Still reproducable in 7.4.8. Pls add check not only of undefined, keep in mind that closeButton may be null.

[2019-04-16 16:50] YuriScarbaci commented on #220
+1 same problem
![Confirm toastr](https://user-images.githubusercontent.com/10579158/56228427-1bc8d780-6078-11e9-90b6-ea06876e2860.png)

npm packages versions (only issue relatives ones):
[code]

[2019-04-18 07:48] gaupoit commented on #220
+1

[2019-04-24 17:00] diegoddox commented on #220
Thanks everyone, this should be fixed on the latest.
Can someone confirm for me?

[2019-04-24 17:02] diegoddox commented on #108
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:02] #108 closed, assigned to nobody

[2019-04-24 17:03] diegoddox commented on #138
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:03] #138 closed, assigned to diegoddox

[2019-04-24 17:03] diegoddox commented on #156
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:03] #156 closed, assigned to nobody

[2019-04-24 17:04] diegoddox commented on #159
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:04] #159 closed, assigned to nobody

[2019-04-24 17:05] diegoddox commented on #175
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:05] #175 closed, assigned to nobody

[2019-04-24 17:05] #174 closed, assigned to nobody

[2019-04-24 17:06] #180 closed, assigned to nobody

[2019-04-24 17:07] diegoddox commented on #185
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:07] #185 closed, assigned to nobody

[2019-04-24 17:07] diegoddox commented on #189
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:07] #189 closed, assigned to nobody

[2019-04-24 17:08] diegoddox commented on #190
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:08] #190 closed, assigned to nobody

[2019-04-24 17:09] diegoddox commented on #191
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:09] #191 closed, assigned to nobody

[2019-04-24 17:09] diegoddox commented on #196
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:09] #196 closed, assigned to nobody

[2019-04-24 17:10] diegoddox commented on #201
Sorry, I didn't have the opportunity to respond to you but because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:10] #201 closed, assigned to nobody

[2019-04-24 17:11] diegoddox commented on #205
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:11] #205 closed, assigned to nobody

[2019-04-24 17:12] #216 closed, assigned to diegoddox

[2019-04-24 17:13] diegoddox commented on #223
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:13] #223 closed, assigned to nobody

[2019-04-24 17:14] diegoddox commented on #207
Because of inactivity I will close this issue but feel free to reopen in case anyone feels that this has to be addressed.

[2019-04-24 17:14] #207 closed, assigned to nobody

[2019-04-24 17:15] diegoddox commented on #202
Because of inactivity I will close this issue but feel free to reopen in case you feel that this has to be addressed.

[2019-04-24 17:15] #202 closed, assigned to nobody

[2019-04-24 17:15] diegoddox commented on #200
Because of inactivity I will close this issue but feel free to reopen in case you feel that this has to be addressed.

[2019-04-24 17:15] #200 closed, assigned to nobody

[2019-04-24 17:16] #158 closed, assigned to nobody

[2019-04-24 17:16] diegoddox commented on #188
use CSS to do that.

[2019-04-24 17:16] #188 closed, assigned to nobody

[2019-04-24 17:17] #176 closed, assigned to nobody

[2019-04-24 17:21] diegoddox commented on #210
Because of inactivity I will close this issue but feel free to reopen in case you feel that this has to be addressed.

[2019-04-24 17:21] #210 closed, assigned to nobody

[2019-04-24 17:21] diegoddox commented on #169
Because of inactivity I will close this issue but feel free to reopen in case you feel that this has to be addressed.

[2019-04-24 17:21] #169 closed, assigned to nobody

[2019-04-24 17:25] diegoddox commented on #220
I will close but in case it doesn't working feel free to reopen.

[2019-04-29 00:41] stevemao commented on #200
I wasn't sure if which should be fixed: docs or code. Once you give the direction I can submit a PR.

[2019-05-04 10:06] diegoddox commented on #200
Hi @stevemao, it will be a good help if you could update the docs.
Thanks in advance.

[2019-05-04 10:13] #85 closed, assigned to nobody

[2019-05-04 10:13] #37 closed, assigned to nobody

[2019-05-22 19:49] codejoncode opened #233 "Warning: Function components cannot be given refs. Attempts to access this ref will fail."
I'm getting a warning in my console output since upgrading my application to react v16 and react-redux-toastr to v7.5.1.

This occurs when I use toastr.confirm -- it looks like it is the toastr confirmation buttons that are causing the issue.

Warning: Function components cannot be given refs. Attempts to access this ref will fail.

Check the render method of `ToastrConfirm`.
    in ReduxConfirmBu

[2019-05-22 19:49] codejoncode commented on #233
Seems to be still on going.

[2019-05-24 16:05] diegoddox commented on #233
@codejoncode thanks, will take a look when possible

[2019-05-24 23:04] tevaum commented on #212
I'm having the same issue. Is there any news about this? Is there anything we can do to help getting to the root cause of the problem?

[2019-05-25 01:03] tevaum commented on #212
After some investigation, I found a tricky behaviour when react-redux-toastr is used with react-navigation: every time we navigate, TOASTR_ADD action gets dispatched. The most interesting stuff is that it gets dispatched without the action builder (add) being called. This way, the cache lookup in the action builder is not effective.

My proposal to solve this problem is to implement a new cache me

[2019-05-25 02:34] tevaum commented on #212
I implemented my proposed solution and tested locally and it doesn't solve the problem. Further investigation pointed to LOCATION_CHANGED action in react-router bringing back an invalid state, with toasters that were already dismissed. So maybe redux isn't detecting a state change when a toaster is dismissed.

[2019-05-25 13:50] diegoddox commented on #212
Thanks @tevaum for the additional details

[2019-05-30 11:51] JoshMcCullough opened #234 "Passing null message with options will not make use of options"
https://github.com/diegoddox/react-redux-toastr/blob/fc90e35c421b05cf782c2b5091c16a345a57541b/src/utils.js#L69

This line results in incorrect results. When trying to pass a React component as part of the `options` parameter like so:

[code]

This line of code will incorrectly select the second parameter (`null`) as the options parameter when it should have selected the third parameter. The fix is

[2019-05-30 12:09] diegoddox commented on #234
There is no need to pass the message if you're adding the options.

[2019-05-30 12:15] JoshMcCullough commented on #234
According to the type definition, the 2nd parameter has to be a `string`. But the code allows it to be either the message or options. The type defs could be updated to allow for the 2nd parameter to be `string | BasicToastrOptions`.

But this is still a bug in cases where you would be passing three args, the third would never be chosen as the options arg if the 2nd was null.

[2019-06-10 13:03] ganeshkaspate opened #236 "Is there any way through which I can reduce the width and height of the toaster ?"

[2019-06-10 13:03] ganeshkaspate opened #237 "Is there any way through which I can reduce the width and height of the toaster ?"

[2019-06-10 13:03] #236 closed, assigned to nobody

[2019-06-24 02:55] agongdai opened #238 "Text input is blurred when the toast shows up"
This library works great, except this case: [codesandbox](https://codesandbox.io/s/redux-example-7u4sq):

[code]

Basically, we want to let user keep typing in, and debouncedly call some API to update the input to database. Every time after an API call is successful, show the toast. However, whenever the toast is displayed, the text input is unfocused.

in the [CodeSandbox demo](https://codesandbo

[2019-06-24 03:25] agongdai commented on #238
I tried `react-toastify` and it works as expected: https://codesandbox.io/s/redux-example-v603c

[2019-06-24 11:07] BilyachenkoOY opened #239 "Random ID cause warning"
Currently ID for aria attributes [is always generated](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ToastrBox.js#L37) randomly which cause warning when hydrating HTML from server side:
_Warning: Prop `aria-labelledby` did not match. Server: "dialogTitle-2337" Client: "dialogTitle-2143"_.
Are there any reasons why we can't use provided ID (from `props.item.id`) and only fallback

[2019-06-24 12:18] BilyachenkoOY commented on #203
Why `preventDuplicates` doesn't check passed identifier?

[2019-06-26 10:56] #239 closed, assigned to nobody

[2019-06-26 10:57] diegoddox commented on #237
By overriding the styles maybe?

[2019-06-26 10:57] #237 closed, assigned to nobody

[2019-06-26 10:57] diegoddox commented on #238
Thanks @agongdai will take a look ASAP.

[2019-06-26 14:19] BilyachenkoOY opened #241 "Not valid HTML"
Pasting HTML code into [W3C validator](https://validator.w3.org/#validate_by_input) shows the following error:
![w3c validation results](https://user-images.githubusercontent.com/10833213/60187645-965f6180-9836-11e9-9d2a-d3241856021e.png)

[2019-07-03 11:59] skychavda commented on #220
Here is a solution to this problem
[Solution to function component issue](https://github.com/reactjs/reactjs.org/issues/2120)

[2019-07-03 21:33] Nantris opened #242 "7.5.x changelog?"
I'm reviewing packages to update and I see there's a minor patch available, but what's changed isn't listed as far as I can tell.

Thanks for all your hard work!

[2019-07-04 12:44] diegoddox commented on #220
@skychavda are you facing this issue if so could you please provide the `-v` that you're using?

[2019-07-07 20:37] diegoddox commented on #242
I forgot to update the changelog and unfortunately, I'm not sure what was the upgrade.

[2019-07-07 20:37] #242 closed, assigned to nobody

[2019-07-11 14:47] skychavda commented on #220
@diegoddox Yes I have faced that issue but I've solved this issue and also gave the solution. Which is on the above comment.
I am using React version - 16.6.0

[2019-07-18 19:22] fbaprojetos opened #243 "CSS loaded by import not working"
I import css by `import 'react-redux-toastr/lib/css/react-redux-toastr.min.css'` but this is not working and simply the toastr is without styles. Inserting `<link href="https://diegoddox.github.io/react-redux-toastr/7.1/react-redux-toastr.min.css" rel="stylesheet" type="text/css">` in index.html file work fine.
I'm using the project created by the `create-react-app` tool and I believe the webpack

[2019-07-19 11:35] diegoddox commented on #243
I'm not sure either but try to investigate/ask with them first.

[2019-07-19 11:35] diegoddox commented on #241
Thanks @BilyachenkoOY

[2019-07-26 00:06] amzbiz commented on #220
7.4.9 version works for me with React 16.8.3 @diegoddox

[2019-08-29 11:29] johngnapp opened #244 "Close button aria-label doesn't say what the actual button does"
Hi,

The aria-label attribute for the close button is set to "toast" in ToastrBox.js. When using a screen reader this gets announced as "toast button", so it's not obvious what the button is for.

It'd be great if the attribute could be updated to "dismiss" or "dismiss message" so that it's clear what will happen when you press the button.

Thanks!

[2019-09-05 15:02] KovDimaY commented on #18
I am having it too... :(

[2019-09-17 19:10] TheSharpieOne commented on #128
In my case, I am using `redux-optimistic-ui` which wraps the state in stuff to track optimistic updates in case it needs to revert them.
This meant that `toastr` was not on the root state which lead me here.
@lagun4ik's example helped solve my issue.
I simplified it as to not need to create another component in the middle:
[code]

[2019-09-24 15:07] UncleJart commented on #241
Is there any news on this issue?

[2019-09-29 14:58] UncleJart commented on #241
I've created [pull request regarding to this issue](https://github.com/diegoddox/react-redux-toastr/pull/245). Could you please look at it when you'll have time?

[2019-09-30 07:21] Garik-LN commented on #241
Thanks @BilyachenkoOY and @UncleJart

[2019-09-30 08:12] diegoddox commented on #241
Thanks @UncleJart

[2019-10-03 09:18] bramhechatejas opened #247 "No way to customize this?"
Hello,

We wanted to customize this based on different params such as font-family, size, colours etc. Is there a way to do so? I have tried going through docs, but nowhere I found this information. Minor customizations are always needed. Could you please direct us?

[2019-10-04 18:20] diegoddox commented on #247
Just override the CSS with your own rules

[2019-10-04 21:53] favna opened #248 "7.6.0 entirely breaks Enzyme mount() tests"
After upgrading from 7.5.2 to 7.6.0 I noticed that our Enzyme powered `mount()` tests completely fail. We use Enzyme's Full DOM rendering for Connected components as these cannot be properly tested with Enzyme's Shallow rendering. I have determined that 7.6.0 is the reason by specifying my version to `~7.5.2` and the error does not occur. This is the full log of running the tests, including both s

[2019-10-05 00:32] paulincai commented on #248
Using Meteor here. I don't seem to have a problem in development, but in production I get a console error and the webapp fails. Getting back to the previous version now.

![Screen Shot 2019-10-05 at 04 31 27](https://user-images.githubusercontent.com/26188915/66246895-0e3c0280-e729-11e9-94d8-f7c314d04909.png)

[2019-10-05 08:03] diegoddox commented on #248
Thanks guys, I've already made another release

[2019-10-05 08:04] #248 closed, assigned to nobody

[2019-10-05 08:04] diegoddox commented on #241
This should be fixed on the latest version

[2019-10-05 08:04] #241 closed, assigned to nobody

[2019-10-05 08:06] diegoddox commented on #233
because of inactivity, I will close it but feel free to re-open if you're still facing this issue

[2019-10-05 08:06] #233 closed, assigned to nobody

[2019-10-05 08:06] #220 closed, assigned to nobody

[2019-10-05 08:07] diegoddox commented on #203
Because of inactivity, I will close it.

[2019-10-05 08:07] #203 closed, assigned to nobody

[2019-10-05 08:08] diegoddox commented on #212
because of inactivity I will close it but feel free to open again.

[2019-10-05 08:08] #212 closed, assigned to nobody

[2019-10-07 12:05] EmWa94 commented on #247
Hi,
how override it? When I'm trying override any class my class are higher in CSS hierarchy than defaults. The only way is using !important, but this way is rather improper solution.

[2019-10-08 12:36] tonoslav opened #249 "TypeError: Cannot read property 'confirm' of undefined"
**version**: 7.6.1

I think this might happened during registering into reducers or when added ReduxToastr element

**Version 7.5.2 works**

ReduxToastr.js:188 Uncaught TypeError: Cannot read property 'confirm' of undefined
    at ReduxToastr.render (ReduxToastr.js:188)
    at finishClassComponent (react-dom.development.js:14741)
    at updateClassComponent (react-dom.development.js:14696)
    at

[2019-10-10 09:03] diegoddox commented on #249
Thanks @tonoslav will ASAP

[2019-10-10 09:07] diegoddox commented on #249
@tonoslav I've changed the mapping to redux state on this version, have you change anything on that matter?

[2019-10-10 09:21] tonoslav commented on #249
@diegoddox Ive changed nothing just after update to newest version I've got this error

[2019-10-10 13:58] More4ever opened #250 "Notification blinks before unmount"
Due to current logic toastr lifecycle has such flow:
add - mount - add start animation - remove start animation - add end animation - remove end animation - unmount

For now in some cases it can cause toastr blink before unmount.

As example fadeOut animate opacity from `1` to `0`, but animation class removing revert back to opacity `1`, which leading to block appear for a moment before unmount

I

[2019-10-10 14:09] jfbloom22 commented on #249
I get the same error when I remove 'toastr' from my persisted redux store.  I never want the toasts to show again after a user refreshes the screen, so I stopped persisting 'toastr'.  When I do that I will occasionally get the above error.  Once it happens it is stuck, my app will not load until clearing my persisted redux store.

if it helps track it down:  I am using redux-offline and redux-pers

[2019-10-10 15:17] tonoslav commented on #249
I have none of this so this should be the case I think

[2019-10-11 06:53] noumanniazi commented on #249
I have updated from 7.5.1 to 7.6.1 and it crashed with error Cannot read property 'confirm'. I haven't changed any Redux mappings on my end, just updated the react-redux-toastr version.

[2019-10-11 11:59] More4ever commented on #250
I've created PR

https://github.com/diegoddox/react-redux-toastr/pull/251

[2019-10-11 12:00] diegoddox commented on #249
Thanks everyone, I'm just a bit busy those coming day, not sure when I will be able to work on it.

[2019-10-13 08:31] diegoddox commented on #249
Are any of you guys using immutablejs?

[2019-10-13 08:51] noumanniazi commented on #249
Yes, I am using immutablejs.

[2019-10-13 15:56] aaronbeall commented on #203
This is still an issue, though? I'll see if I can put together a PR, it'll also require some doc update

[2019-10-13 17:03] diegoddox commented on #249
For those of who are using `immutablejs` you will have to pass the `getState` props
like:
[code]

[2019-10-14 11:09] #249 closed, assigned to nobody

[2019-10-21 17:25] jfbloom22 commented on #249
@diegoddox Thanks!  This fixed the issue for me as well.

I ended up with: `getState={() => this.props.toastr || initialState.toastr}`

[2019-10-22 10:26] GokulSNarayan commented on #247
Go to this file  **node_modules/react-redux-toastr/src/styles/index.scss'**  and customize as per your requirement

[2019-11-07 18:57] rmckeel opened #253 "Demo site non-functional"
The demo site at https://diegoddox.github.io/react-redux-toastr/ is non-functional (no visible HTML or text other than some basic colored divs).  This is on Chrome and FireFox latest, and also does the same with the local demo after `npm install`.

May be due to this console error that is tripping up the load:
`file.myfontastic.com/DK4y3Mj8zxvX2ADWpcWGnM/icons.css:1 Failed to load resource: net::E

[2019-11-07 19:02] diegoddox commented on #253
Thanks @rmckeel

[2019-11-13 21:56] getanwar commented on #247
One should remember that if you customize any file inside `node_modules/` next `npm install` or updating the package will remove your customization! Instead overwrite the css rules on your own `css`/`scss` file.

[2019-11-13 22:09] getanwar commented on #247
Make sure that your styles come after package's styles. Otherwise, your styles will be overwritten by that of the package. I agree that it is an improper way, this could be done by leveraging CSS variable. But thanks to the lib author, the usage of redux for notification is cleaver here. I could use it from anywhere (components, thunk, redux-saga etc)

[2019-11-13 22:37] getanwar commented on #247
If someone still needs help with overwriting default styles. Here is how I did it:

[code]

[2019-11-15 11:36] MoJama1995 opened #255 "GetState missing from ReduxToasterProps in TS"
Hi.

While following your tutorial on how to use React-Redux-Toaster, we noticed that adding in the TSX attribute getState was missing from your ReduxToastr props in the type definitions .

On line 131 in your typeDefinitions -
` export default class ReduxToastr extends Component<ReduxToastrProps> {}`

and your ReduxToastrProps

[code]
When getting to step 4 of your tutorial, we're getting an erro

[2019-11-18 12:39] diegoddox commented on #255
Hi @MoJama1995 at the moment I'm not using typescript so this will not be possible.
https://www.npmjs.com/package/@types/react-redux-toastr

[2019-12-04 09:59] geraintdong commented on #238
may I know what is the progress of this bug? We're struggling with this bug & need to switch to the old  jquery-based plugin to work around

[2019-12-04 21:00] diegoddox commented on #238
This should be fixed by now, just pass `disableCloseButtonFocus` in the `toastr` options  and it should work. let me know if does
ex:
[code]

[2019-12-09 12:11] diegoddox commented on #238
Will close but feel free to re-open if needed.

[2019-12-09 12:11] #238 closed, assigned to nobody

[2019-12-21 22:39] Nantris opened #256 "Method to remove all toasts?"
I know there's a method to remove toasts by `type` and by `id`, but is there a quick and easy way to clear _all_ toasts?

[2019-12-22 12:28] diegoddox commented on #256
Hi @Slapbox,
Unfortinually at the moment, it is not possible.

[2019-12-22 12:28] #256 closed, assigned to nobody

[2019-12-22 19:38] Nantris commented on #256
@diegoddox thanks for the update. I think this would be a great feature to consider, but I know that actual implementation requires actual work.

[2019-12-22 21:19] diegoddox commented on #256
@Slapbox sorry, there is a method to remove all toastrs [clean](https://github.com/diegoddox/react-redux-toastr/blob/master/src/actions.js#L29)

[2019-12-22 23:01] Nantris commented on #256
Ha hey that's nifty! Thanks for the update @diegoddox!

[2019-12-24 08:13] de83c78d1f commented on #238
@diegoddox actually there is a problem with those focuses still. if i have 2+ toasts, their autofocus propagate from closed one to remaining. [#257](https://github.com/diegoddox/react-redux-toastr/pull/257).

[2020-02-04 09:52] shiraze opened #258 "Is it possible to customise this component so that it follows material guidelines?"
Is it possible to customise the appearance of the toaster messages so that they follow these guidelines?
https://material.io/components/snackbars/

Mainly, allow removal of the left/right icons, and allow a single line of text only.

[2020-02-07 16:26] diegoddox commented on #258
At the moment unfortunately we can't.

[2020-02-10 14:08] mergebandit commented on #253
FWIW - was going to implement this for a large enterprise client but this issue (and the fact that it's months old) has led me to choose a different solution.

[2020-02-10 14:21] diegoddox commented on #253
For those who still experience this issue, `react-redux-toastr` has reach the limit on the amount of request to fontastic.com fonts CDN. That's why you're not able to see the icon.

@mergebandit this is an open-source project like others feel free to use it or not, or even better in case of an issue create a PR and help those who have invested time on something they haven't got any payment for it.

[2020-02-10 14:43] mergebandit commented on #253
It's more than just not being able to see an icon - the demo page provides no indication that it's functional.

![image](https://user-images.githubusercontent.com/22401430/74159465-d61e6200-4be9-11ea-94db-7a96122f1fb4.png)

Not dogging you at all. I appreciate open source work immensely - just highlighting that a broken demo page is likely to cause a lot of churn for potential adoption.

[2020-02-10 14:44] diegoddox commented on #253
@mergebandit I know that you're not dogging me.
Thanks for your feedback.

[2020-02-10 14:45] diegoddox commented on #253
<img width="1680" alt="Screenshot 2020-02-10 at 15 45 00" src="https://user-images.githubusercontent.com/2768497/74159623-5c539c00-4c1c-11ea-9f36-b1ed5e9c0e8b.png">

@mergebandit As u can see I'm able to click on the button even though there is no icon.

[2020-05-15 09:07] thandrade88 commented on #244
I solved doing this

[code]

in Options, set showCloseButton as false and in component you add a new button

[2020-05-19 08:38] ahayes91 opened #260 "Accessibility - using the ESC key while keyboard focus is on the toaster should close the toaster for all types"
From the docs, I saw that the "confirm" type of toaster message caters for closing the toaster on ESC:
[code]

Ideally this should be an option for all types of toasters - when focus is on the toaster, you should be able to use the ESC key to close it, as per accessibility standards for modal dialogs: https://bitsofco.de/accessible-modal-dialog/

[2020-05-19 11:38] ahayes91 commented on #260
Looks like I could do something similar to this https://github.com/diegoddox/react-redux-toastr/issues/244#issuecomment-629123984 and just add an ESC key handler to the X button - in my case that's enough, because the only focusable element in our toaster is the X button. However, it is still worth fixing properly with a prop in case other focusable elements are included in the toaster for any rea

[2020-05-21 16:24] diegoddox commented on #260
Hi @ahayes91 thanks for the link, I will take a look on it.

[2020-06-08 15:06] ahayes91 opened #261 "preventDuplicates not working either as a prop on ReduxToastr or when using the emitter"
We have the ReduxToastr component at the root of our app with `preventDuplicates` props set to true:
[code]

We fire toastr add action (by using a `@ReduxToastr/toastr/ADD` type Redux action) with the following payload in the app (I've made some changes to demonstrate that the message and title and type are definitely the same on all the toastrs we create):
[code]

preventDuplicates doesn't work f

[2020-06-10 13:29] ahayes91 commented on #261
@diegoddox anything obvious you can spot that we're doing wrong here by any chance?

[2020-06-10 16:49] diegoddox commented on #261
@ahayes91 you're right, by providing the same title, message and type should do the work, will take a look asap.

[2020-06-11 20:08] adamlucz90 opened #262 "onMouseEnter clears timeout in ToasterBox.js"
In the `ToasterBox.js` file on line `144` the below `onMouseEnter` function clears the timeout which causes the toast to persist indefinitely.

[code]

This is an issue if you have `removeOnHover: false` and `showCloseButton: false` because now there is no way to remove the toast.  Can we check to make sure there is a way to remove the toast before we `clearTimeOut`?

[2020-06-14 17:39] diegoddox commented on #261
Help wanted, not sure when I will be able to look at this issue.

[2020-07-06 11:08] Neofield-Dylan commented on #150
I had the same issue and solved it upgrading react-redux-toastr to current latest version (@^7.6.5). I think that is not needed to install react transition group, because it really does not solve the issue.

[2020-07-11 14:02] mseyfayi commented on #18
Document is wrong
rootReducer must be like this:
`const rootReducer = combineReducers({toastr: toastrReducer});
`

[2020-07-12 10:14] Muneem commented on #220
@diegoddox still facing the same issue with React 16.13.1

[2020-08-04 13:54] OmarMohamed11 opened #263 "Allow user to enable auto focus or not"
In `ToastrConfirm.js` and `ToastrBox.js` files
I found that you focus on the close button or toaster by default
but this implementation may lead to unexpected behavior if the toaster used as a notification

it may lead the user to lose focus on input element when the notification comes

so I suggest to let the user choose whether to enable focus or not with a prop

ToastrConfirm.js file :

[code]

[2020-08-04 14:22] #263 closed, assigned to nobody

[2020-08-06 09:25] pranjalsuyal opened #264 "Why doesn't this library works with linux ?"
I have my code perfectly running on my macbook but I was trying to run the same code on my ubuntu machine it is throwing the following error:
Please note that I have tried using multiple ubuntu devices all having the same result but works perfectly fine when using mac.
![Screenshot from 2020-08-06 14-54-23](https://user-images.githubusercontent.com/51028500/89515514-d5f7cb80-d7f4-11ea-8fdb-d74ec04

[2020-08-06 09:27] pranjalsuyal commented on #264
![reactToaster_npmInstall](https://user-images.githubusercontent.com/51028500/89515724-23743880-d7f5-11ea-9525-822812fafcfe.png)
Also while trying to run demo I get following error after running npm install

[2020-08-11 09:13] diegoddox commented on #264
Hi @pranjalsuyal, the webpack setup is quite old not to mention that the packages has not been updated in a while.
Not sure when I will have the time to take a look at it.

[2020-08-14 08:34] pranjalsuyal commented on #264
ok sure, thank you!

[2020-09-03 13:14] buildswitharpit commented on #220
@diegoddox still facing the same issue with react 16.13.1

[2021-01-17 09:28] olpner opened #265 "Local project not working"
I've tried cloning the project
`git clone https://github.com/diegoddox/react-redux-toastr.git`
and running npm install but I get an error from peer dependecies in the project.
I've tried poking around in the package.json without getting anywhere.
Is this likely to be a local issue on my machine or does something in the package.json need updating?

[2021-01-17 10:49] diegoddox commented on #265
I believe this is a local issue.

[2021-01-17 17:14] #265 closed, assigned to nobody

[2021-01-17 17:17] #264 closed, assigned to nobody

[2021-01-17 17:18] #250 closed, assigned to nobody

[2021-01-17 17:19] #247 closed

[2021-01-17 17:19] #255 closed, assigned to nobody

[2021-01-17 17:19] #258 closed, assigned to nobody

[2021-01-17 17:26] diegoddox commented on #244
Will close but feel free to reopen

[2021-01-17 17:26] #244 closed, assigned to nobody

[2021-01-17 17:26] #243 closed, assigned to nobody

[2021-01-17 17:29] #227 closed, assigned to nobody

[2021-01-22 09:48] SamMorrowDrums opened #266 "Element type is invalid: expected a string When using Webpack 5"
My setup is with WebPack 5 and ES Modules.

When doing the following as per usual I now get a failure:

[code]

The cause it is that there is an object of various exports being imported, so I have had to do:

[code]

This issue only occurred when upgrading WebPack. I assume it's in part to do with changes to module resolution, but thought this might at least help others who have the same issue:

[2021-01-25 14:01] mkhoussid commented on #167
For anyone else coming here, this didn't work for me, so I just ended up doing,
[code]
in any css file that is imported by your app.

[2021-06-08 00:27] hope-portal-services opened #267 "No intuitive way to resize a confirmation dialog"
The ability to add an `id` to the `toastrConfig` partially solves this. If you use this ID to target the `.rrt-confirm` class and change the default `320px` to something higher, but it then skews the negative margin on the `.rrt-confirm` element. Setting the negative margin to half of the desired width of the confirmation element solves the problem visually until the browser scales down, in which

[2021-06-11 07:51] diegoddox commented on #267
I'm rewriting the lib and will take note about it. For now the best is to override the styles as you've mentioned above.

[2021-06-18 13:27] wasabitools opened #268 "Toastr timeout pauses after hover and toaster remains sticky"
Toastr remains sticky after being hovered over. I added `removeOnHover: true` ,  `removeOnHoverTimeOut: 3000` without any success.

Any advice?

[2021-06-22 17:51] nick4fake opened #269 "DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0"
Looks like code should be updated.

[code]

[2021-06-24 09:49] diegoddox commented on #269
Hi @nick4fake Thanks, I will close but will for sure have a look when the time to upgrade our dep comes.

[2021-06-24 09:50] diegoddox commented on #268
Hi @natasafi,
Sorry for the late reply, are you still facing this issue?
no I cannot see what the issue could be.

[2021-06-24 10:15] wasabitools commented on #268
Hello @diegoddox ,

Thanks for the reply. Yes, the problem is that we have a Toastr that disappears normally _however_ if the user hovers over the toaster it becomes sticky and it doesn't fade. I tried to add the` removeOnHover: true `, `removeOnHoverTimeOut: 3000`  so even if it's hovered over it will still disappear but it didn't work. Is that a normal behaviour?

[2021-06-24 10:18] diegoddox commented on #268
No, it's not it should remove after, not sure when but will have a look.

[2021-06-24 10:44] wasabitools commented on #268
Thank you :)

[2021-07-21 16:21] nick4fake commented on #269
Hi @diegoddox

https://github.com/diegoddox/react-redux-toastr/blob/master/src/styles/index.scss#L39

It is not a dependency issue, the code is part of redux-toastr

[2021-07-31 16:24] diegoddox commented on #269
@nick4fake thanks, if you have time feel free to create a PR <3

[2021-08-23 14:19] goxr3plus commented on #238
I am using latest version https://github.com/diegoddox/react-redux-toastr/releases/tag/v7.6.0

And the property

toastr.success('In the beginning was the word', {
  ...otherOptions,
  disableCloseButtonFocus: true // here you go.
});

doesn't work anymore did it change ?

When the toaster appears it still takes the focus from the TextInput.

@diegoddox

[2021-08-23 14:24] goxr3plus opened #270 "Toaster 7.6.0 Text input is blurred when the toast shows up"
I have seen the issue https://github.com/diegoddox/react-redux-toastr/issues/238

And the given solution doesn't work for me i call the toaster like :

toastr.success(title, message, { disableCloseButtonFocus: true  } )

When the toaster appears it causes the Text Input to blur

@diegoddox @MirayaReie

[2021-08-23 14:28] zarv1k commented on #238
@goxr3plus actually the latest version is 7.6.5 - https://github.com/diegoddox/react-redux-toastr/releases/tag/v7.6.5

[2021-08-23 14:30] zarv1k commented on #270
@goxr3plus please check at the latest tag - https://github.com/diegoddox/react-redux-toastr/releases/tag/v7.6.5

[2021-08-23 15:03] goxr3plus commented on #270
@zarv1k

Just tested again with the latest https://github.com/diegoddox/react-redux-toastr/releases/tag/v7.6.5
and Chrome 92

`toastr.success(title, message, { disableCloseButtonFocus: true } )`

issue is still the same when toaster appears it stills the focus from Text Input and makes it blur

[2021-08-23 15:05] goxr3plus commented on #270
Am i using wrong options ? The property ```disableCloseButtonFocus``` doesn't work anymore ?

[2021-08-23 15:24] goxr3plus commented on #238
@zarv1k

just tested again with 7.6.5 and Chrome 92

`toastr.success(title, message, { disableCloseButtonFocus: true } )`

issue is still the same when toaster appears it stills the focus from Text Input and makes it blur.

Am i using wrong options ? The property `disableCloseButtonFocus `doesn't work anymore ?

[2021-08-23 15:34] zarv1k commented on #270
@goxr3plus

I don't know. Let's check [this example](https://codesandbox.io/s/sweet-tree-fissd). It works!

[2021-08-24 07:52] goxr3plus commented on #270
@zarv1k

What the as any means i have never seen that before :) Even Webstorm doesn't recognize it loccally. It's typescript ?

![image](https://user-images.githubusercontent.com/20374208/130578272-45468e46-e78c-4e2a-a437-d4ede3b1e8da.png)

[2021-08-25 07:02] diegoddox commented on #270
Hi @goxr3plus, I wil try to have a look on it and yes that is typescript.
Thanks a lot @zarv1k for your responses and for providing an example.

[2021-08-25 07:05] diegoddox commented on #238
conversation is now on #270

[2021-08-25 07:12] zarv1k commented on #270
@diegoddox the issue should be closed. The option `disableCloseButtonFocus` works well as you can see on my example.

[2021-09-23 06:10] yosrimhamdi commented on #156
I am getting the same warning in 2021. Please resolve this issue

[2021-10-06 08:48] #270 closed, assigned to nobody

[2021-11-11 11:12] masiacra commented on #268
Hello, I have the same issue. Is there any progress in solving the problem?

[2021-11-13 04:20] uxtx commented on #269
@diegoddox I've created a PR for this - thanks again for the lib!

[2021-11-14 18:07] diegoddox commented on #269
Thanks @uxtx ! I will have a look during this week

[2021-11-18 13:00] #269 closed, assigned to nobody

[2021-11-19 16:13] jrmarqueshd opened #272 "(7.6.6) - SassError: Invalid CSS after "...arginleft: math": expected expression (e.g. 1px, bold), was ".div($toastr-width ""
Hello everyone!

### For those who are having this error and want to solve it quickly:

In your package.json, **change the version of the react-redux-toastr library from 7.6.6 to 7.6.5**, the result should look something like this:

[code]

Note that, it is also necessary to remove any flags that have the package version together, as this will prevent the library from updating during the npm insta

[2021-11-20 18:22] diegoddox commented on #268
@masiacra what version are u using?

[2021-11-22 06:57] masiacra commented on #268
@diegoddox, hello. "react-redux-toastr": "7.6.5"

[2021-11-23 08:20] apoorvclp commented on #272
Please solve this issue and make it backward compatible, blocking our execution.

For temporary solution -:

Go to - node_modules/react-redux-toastr/src/styles/index.scss

Instead of using math.div use division(/) or multiplication(*) i.e. css/2 or css*0.5, such as

"margin-left: -($toastr-width / 2);"

[2021-11-29 04:17] kkh975 commented on #272
+1

[2021-11-29 08:06] diegoddox commented on #272
Hi guys, I believe next week there will be time for me to have a look at this issue.

[2021-11-30 17:14] jimbglenn commented on #272
This is a pretty critical error for our apps as well.

[2021-12-07 14:08] goxr3plus commented on #208
@diegoddox  Any updates on this ?

[2021-12-07 14:10] goxr3plus opened #273 "Disable dissapear after hover + setTimeout infinity"
What i want to achieve is the user to be able to close the toaster only with the small X.

What should i put on the timeout to make it infinite ?
When the user hovers in and out of the toastr it dissapears how to prevent that ?

I am using the latest version of react-redux-toastr

@diegoddox  Thank you :)

[2021-12-09 09:56] diegoddox commented on #208
@goxr3plus unfortunately no.

[2021-12-09 10:25] diegoddox commented on #272
After looking at it, I can see that this was caused by a fix made for another issue, I made the mistake of changing the minor but it's actually a breaking change since the `node-sass` was deprecated and `sass` was added as the new dependencies.

My advice is that if possible upgrade `sass` or rollback to `v7.6.4`

[2021-12-09 14:21] diegoddox commented on #273
Hi @goxr3plus [here](https://github.com/diegoddox/react-redux-toastr#toastr-methods) you can see what options you can have

[2021-12-09 14:21] #273 closed, assigned to nobody

[2021-12-09 14:30] diegoddox commented on #268
I'm not able to reproduce it, could any of you provide a reproducible link maybe on codesandbox.io ?

[2021-12-09 18:52] masiacra commented on #268
Sorry, diegoddox, but it seems like I did something wrong. Now it works fine

[2021-12-09 20:15] uxtx commented on #272
Hi all - I created the commit for bumping the dev-deps to `sass` instead of the now deprecated `node-sass`. There were some outstanding issues this was related to (referenced in #269) where the sass division changes were throwing some loud and angry warnings across newer apps.

I agree with @diegoddox doubly, that pinning to an older release is probably a good idea for users still using `node-sass

[2021-12-10 09:49] diegoddox commented on #268
I will close it, but incase anyone can provide a reproducible env feel free to re-open.

[2021-12-10 09:49] #268 closed, assigned to nobody

[2021-12-10 10:06] diegoddox commented on #173
do it to inactivity, will close.

[2021-12-10 10:06] #173 closed, assigned to nobody

[2022-02-02 07:36] diegoddox commented on #267
Hi, closing it but feel free to re-open in case u need this feature.

[2022-02-02 07:36] #267 closed, assigned to nobody

[2022-02-02 07:37] diegoddox commented on #262
Hi, closing it but feel free to re-open in case u need this still an issue.

[2022-02-02 07:37] #262 closed, assigned to nobody

[2022-02-02 07:39] #272 closed, assigned to nobody

[2022-02-02 07:41] diegoddox commented on #253
this is because I'm using a free version of embeddable icons and I have a limit of requests on the site.

[2022-02-02 07:41] #253 closed, assigned to nobody

[2022-02-02 07:48] diegoddox commented on #266
My apologies for not getting back to you, I'm closing but feel free to re-open in case you need it.

[2022-02-02 07:48] #266 closed, assigned to nobody

[2022-02-02 08:04] SamMorrowDrums commented on #266
@diegoddox no problem for me any longer. I'm not currently using it, however it might well be worth ensuring that things are exported correctly for Webpack 5 and native ES Modules, as I expect this will be a more popular use-case now than when I first tried.

[2022-04-27 14:39] gowikel opened #276 "No support for multiple toastr instances"
Hi on our application we are using two instances of a toastr component. One of them is global and is instantiated straight away in the root component. But our users can see a portion of the application in fullscreen and we instantiate another toastr component when we move to fullscreen. We realised that when the second one unmounts, the global one stops working. Inspecting the code we saw that the

[2022-04-28 08:47] diegoddox commented on #276
Hi @gowikel, the easiest way to solve this will be to add another prop like `removeEventEmitterOnUnmount` [here](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ReduxToastr.js#L15) which is default to `true` and in [componentWillUnmount](https://github.com/diegoddox/react-redux-toastr/blob/master/src/ReduxToastr.js#L69) we could check for it and preventing from removing the listene

[2022-05-31 20:24] siefkenj opened #277 "Add support for React 18 and ReactRedux 8"
React 18 and react-redux 8 are out now. It would be great if the peer dependencies list could be updated to include support for these versions :-)

[2022-08-08 12:57] MarshalX commented on #258
Hi in 2022. Any news?)

[2022-08-08 13:41] diegoddox commented on #258
Hi @MarshalX No,

[2022-10-03 02:27] djswilly commented on #277
I don't suppose there is an anticipated timeline for this? I'm about to switch libraries.

[2022-10-04 10:38] diegoddox commented on #277
should be out on by now.

[2022-10-04 10:38] #277 closed, assigned to nobody

[2022-11-03 12:17] ManishBisht777 opened #279 "Styles Improve"
Styles can be improve for the toasts to look more promising

[2022-11-03 12:21] ManishBisht777 commented on #279
i would love to work on this can you assign this to me

[2022-11-15 11:41] Tsyklop opened #280 "Use with redux toolkit"
How to use this lib with redux-toolkit?

[2022-11-16 07:41] diegoddox commented on #280
Should be possible, where are stuck?

[2022-11-16 12:56] Tsyklop commented on #280
@diegoddox In you example need call `bindActionCreators` function for actions.

I have some asyncThunk functions for displaing toasts:

[code]
And i need every time in `createAsyncThunk` call `bindActionCreators` function?

[2022-11-19 06:53] diegoddox commented on #280
Any reason why u don't wanna use the [event-emitter](https://github.com/diegoddox/react-redux-toastr#5-use-the-emitter)?